{% extends 'base/ana.html' %} {% load static %} {% block content%}
<title>Şifre Sıfırlama | FIFAVOX</title>


<aside class="side-navbar col-1">
    <ul class="p-0 text-center">
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'profil' request.user.username|slugify %}"><img src="{% static 'images/logo.png' %}" class="logo-side-navbar col-sm-7 col-md-4 col-9 "></a>
        </li>
        {% else %}
        <li><img src="{% static 'images/logo.png' %}" class="col-sm-7 col-md-4 col-9 "></li>
        {% endif %}
        <li><a href="{% url 'anasayfa' %}"><i class=" fa-solid fa-house-user"></i><p class="d-none d-md-block">Anasayfa</p></a></li>
        <li><a href="{% url 'kisiler' %}"><i class=" fa-solid fa-headset"></i><p class="d-none d-md-block">Oyuncular</p></a></li>
        <li>
            <a href="{% url 'nasil-katilabilirim' %}">
                <i class=" fa-solid fa-question"></i>
                <p class="d-none d-md-block">Nasıl Katılabilirim</p>
            </a>
        </li>
        <li>
            <a href="{% url 'forumlar' %}">
                <i class="fa-solid fa-comment-dots"></i>
                <p class="d-none d-md-block">Forumlar</p>
            </a>
        </li>
        <li>
            <a href="{% url 'haberler' %}">
                <i class="fa-solid fa-newspaper"></i>
                <p class="d-none d-md-block">Haberler</p>
            </a>
        </li>

        <li>
            <a href="{% url 'formlar' %}">
                <i class=" fa-solid fa-square-poll-vertical"></i>
                <p class="d-none d-md-block">Formlar</p>
            </a>
        </li>{% if user.is_superuser and user.is_authenticated %}
        <li>
            <a href="{% url 'kayit-onay' %}">
                <i class="fa-solid fa-circle-check"></i>
                <p class="d-none d-md-block">Kayıt Onay</p>
            </a>
        </li>{% endif %} {% if user.is_authenticated %}
        <li>
            <a href="{% url 'ayarlar' %}">
                <i class="fa-solid fa-gear"></i>
                <p class="d-none d-md-block">Ayarlar</p>
            </a>
        </li>

        {% endif %}
        <li>
            {% if user.is_authenticated %}
            <a href="{% url 'cikis-yap' %}">
                <i class=" fa-solid fa-arrow-right-from-bracket"></i>
                <p class="d-none d-md-block"> Çıkış Yap</p>
            </a>
            {% else %}
            <a href="{% url 'giris-yap' %}">
                <i class=" fa-solid fa-right-to-bracket"></i>
                <p class="d-none d-md-block">Giriş Yap</p>
            </a>
            {% endif %}
        </li>
    </ul>
</aside>
<main class="col-11 offset-1">
    <form method="POST">
        {% csrf_token %}
        <h5 class="py-5 text-center">Şifre Değiştirme</h5>
        <div class="col-8 col-md-4 offset-2 offset-md-4">
            <span class="mt-5 pt-5 mb-4">Şuan ki Şifre</label>
            <p class="">{{form.old_password}}</p>
            <span class="mt-5 mb-4">Yeni Şifre</span>
            <ul class="list-unstyled d-grid col-12 center">
                <li>{{form.new_password1}}</li>
                <li style="position: relative;margin-left: 100%;margin-top: -40px;">
                    <span data-toggle="popover" title="Kurallar" class="profil-username" style="margin: 0;">
                        <i class="fa-solid fa-info p-3 fa-sm"></i>
                    </span>

                </li>
            </ul>
            <span class="mt-5 mb-4">Yeni Şifre (Tekrar)</span>
            <ul class="list-unstyled d-grid col-12 center">
                <li>{{form.new_password2}}</li>
                <li style="position: relative;margin-left: 100%;margin-top: -40px;">
                    <span data-toggle="popover1" title="Kurallar" class="profil-username" data-html="true">
                        <i class="fa-solid fa-info p-3 fa-sm"></i>
                    </span>
                </li>
            </ul>
        </div>
        <input type="submit" value="Değiştir" class="btn btn-outline-dark center mt-4" />
    </form>
</main>
<script>
    let old = document.querySelector("#id_old_password");
    let new1 = document.getElementById("id_new_password1");
    let new2 = document.getElementById("id_new_password2");
    old.classList.add("form-control");
    new1.classList.add("form-control");
    new2.classList.add("form-control");

    $(document).ready(function() {
            $('[data-toggle="popover"').popover({
                content: `● Parolanız en az 8 karakter içermek zorundadır. <br /><br /> ● Parolanız yaygın olarak kullanılan bir parola olamaz. <br /><br /> ● Parolanız tamamıyla sayısal olamaz.`,
                animation: true,
                placement: "right",
                trigger: 'hover',
                html:true
            });
        });

        $(document).ready(function() {
            $('[data-toggle="popover1"').popover({
                content: `● Doğrulama için önceki gibi aynı parolayı girin.`,
                animation: true,
                placement: "right",
                trigger: 'hover',
            });
        });


</script>
{% endblock content%}