{% extends 'base/ana.html' %} {% load static %}{% load crispy_forms_tags %} 

{% block title %}Şifre Sıfırlama | FIFAVOX{% endblock %}

{% block content%}

<main class="col-10 offset-1">
    <form method="POST">
        {% csrf_token %}
        <h5 class="py-5 text-center">Şifre Değiştirme</h5>
        <div class="col-8 col-md-4 offset-2 offset-md-4">
            <h6 class="mt-4 ">Şu anki Şifre</label>
            <div class="row">
                <div class="col"><p>{{form.old_password|as_crispy_field}}</p></div>
            </div>
            <h6 class="pt-4 ">Şifre Değiştirme</h6>
            <div class="row">
                <div class="col">{{form.new_password1|as_crispy_field}}</div>
                <div class="col-auto m-0 p-0">
                    <span data-toggle="popover" title="Kurallar" class="profil-username">
                        <i class="fa-solid fa-info p-3 fa-sm"></i>
                    </span>
                </div>
            </div>


            <h6 class="pt-4">Şifre Değiştirme</h6>
            <div class="row">
                <div class="col">{{form.new_password2|as_crispy_field}}</div>
                <div class="col-auto m-0 p-0">
                    <span data-toggle="popover1" title="Kurallar" class="profil-username">
                        <i class="fa-solid fa-info p-3 fa-sm"></i>
                    </span>
                </div>
            </div>
        </div>
        <input type="submit" value="Değiştir" class="btn btn-dark center mt-4" />
    </form>
</main>

{% endblock content%}

{% block script %}
<script defer>
        
    $(".requiredField").hide();
    $("#hint_id_new_password1").hide();

    let old = document.querySelector("#id_old_password");
    let new1 = document.getElementById("id_new_password1");
    let new2 = document.getElementById("id_new_password2");
    old.classList.add("form-control");
    new1.classList.add("form-control");
    new2.classList.add("form-control");

    $(document).ready(function() {
            $('[data-toggle="popover"').popover({
                content: `● Parolanız en az 8 karakter içermek zorundadır. <br /><br /> ● Parolanız yaygın olarak kullanılan bir parola olamaz. <br /><br /> ● Parolanız tamamıyla sayısal olamaz.`,
                animation: true,
                placement: "right",
                trigger: 'hover',
                html:true
            });
        });

    $(document).ready(function() {
            $('[data-toggle="popover1"').popover({
                content: `● Doğrulama için önceki gibi aynı parolayı girin.`,
                animation: true,
                placement: "right",
                trigger: 'hover',
            });
        });


</script>
{% endblock %}