{% extends 'base/ana.html' %} {% load static %} {% block content%}
<title>Şifre Değiştirme | BMM</title>

</head>

<body>
    <aside class="side-navbar col-1">
            <ul class="p-0 text-center">
                {% if user.is_authenticated %}
                <li>
                    <img src="{% static 'images/logo.png' %}" data-toggle="popover"  title="
                    {% if durum.onaydurum == 'Kabul Et' %}
                    Onaylandın
                    {% elif durum.onaydurum == 'Bekle' %}
                    Beklemedesin
                    {% elif durum.onaydurum == 'Reddet' %}
                    Reddedildin
                    {% elif durum.onaydurum == 'Cevapsız' %}
                    {% endif %}" data-content="Neden" class="logo-side-navbar col-sm-7 col-md-4 col-9 ">
                </li>
                {% else %}
                <li><img src="{% static 'images/logo.png' %}" class="col-sm-7 col-md-4 col-9 "></li>
                {% endif %}
                <li><a href="{% url 'anasayfa' %}"><i class=" fa-solid fa-house-user"></i><p class="d-none d-md-block">Anasayfa</p></a></li>
                <li><a href="{% url 'kisiler' %}"><i class=" fa-solid fa-headset"></i><p class="d-none d-md-block">Oyuncular</p></a></li>
                <li>
                    <a href="{% url 'nasil-katilabilirim' %}">
                        <i class=" fa-solid fa-question"></i>
                        <p class="d-none d-md-block">Nasıl Katılabilirim</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'haberler' %}">
                        <i class="fa-solid fa-newspaper"></i>
                        <p class="d-none d-md-block">Haberler</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'formlar' %}">
                        <i class=" fa-solid fa-square-poll-vertical"></i>
                        <p class="d-none d-md-block">Formlar</p>
                    </a>
                </li>{% if user.is_superuser and user.is_authenticated %}
                <li>
                    <a href="{% url 'kayit-onay' %}">
                        <i class="fa-solid fa-circle-check"></i>
                        <p class="d-none d-md-block">Kayıt Onay</p>
                    </a>
                </li>{% endif %} {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'ayarlar' %}">
                        <i class="fa-solid fa-gear"></i>
                        <p class="d-none d-md-block">Ayarlar</p>
                    </a>
                </li>

                {% endif %}
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'cikis-yap' %}">
                        <i class=" fa-solid fa-arrow-right-from-bracket"></i>
                        <p class="d-none d-md-block"> Çıkış Yap</p>
                    </a>
                    {% else %}
                    <a href="{% url 'giris-yap' %}">
                        <i class=" fa-solid fa-right-to-bracket"></i>
                        <p class="d-none d-md-block">Giriş Yap</p>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </aside>


    <main class="col-11 offset-1">
        <div class="col-10 offset-1">
            <h4 class="pt-5 text-center">Yeni parolayı girin.</h4>
            <h5 class="text-center mt-3 mb-2">Lütfen yeni parolanızı iki kere girin böylece böylece doğru olarak yazdığınızı doğrulayabilelim.</h5>
        </div>
        <form method="POST">
            {% csrf_token %}
            <label class="mt-4 center">Yeni Şifre</label>
            <label class="center">{{form.new_password1}}</label>
            <br>
            <label class="mt-5 center">Yeni Şifre (Tekrar)</label>
            <label class="mb-5 center">{{form.new_password2}}</label>
            <br>
            <input type="submit" value="Şifreyi Değiştir" class="btn btn-outline-dark center">
        </form>
    </main>

    <script>
        var password1 = document.getElementById("id_new_password1");
        var password2 = document.getElementById("id_new_password2");
$(document).ready(function(){
            $('[data-toggle="popover"').popover({
                content:"Onay Cevap Tarihi : {{durum.guncellenme_tarihi}}  Kayıt Tarihi : {{request.user.date_joined}}",
                animation:true,
                placement :"top",

            });
        })
        password1.classList.add("form-class");
        password2.classList.add("form-class");
    </script>




    {% endblock content%}