{% extends 'base/ana.html' %} {% load static %} {% block content%}

    {% block title %}Şifre Unuttum | BMM{% endblock %}

    <main class="col-11 offset-1">
    <form method="POST">
        {% csrf_token %}
        <div class="col-8 offset-2">
            <h5 class="text-center pb-5 pt-5">Şifreni mi unuttun? Emailini aşağıya gir ve sana şifre değiştirmek için bir link sayfası atalım.
            </h5>
            <div class="col-8 offset-2">
                <h5 class="text-center">Email</h5>
                {{form.email}}
                <input type="submit" class="btn btn-outline-dark mt-4 center">
            </div>
        </div>
    </form>
    </main>

    <script defer>
        let email = document.getElementById("id_email");
        email.classList.add("form-control");
        email.classList.add("col-10");
        email.classList.add("col-md-6");
    </script>
{% endblock content%}