 {% extends 'base/ana.html' %} {% load static %} {% block content %}
{% block title %}Forum Ekle | FIFAVOX{% endblock %}



    <main class="col-11 col-lg-10 offset-1">
        {% for message in messages %}
        <div class="message">{{message}}</div>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            <h4 class="text-center pt-5">Forum Ekle</h4>
            <h5 class="text-center mt-5">Başlık</h5>
            <ul class="list-unstyled d-grid col-8 col-md-6 center">
                <li>{{form.baslik}}</li>
                <li style="position: relative;margin-left: 100%;margin-top: -40px;">
                    <span data-toggle="popover" title="Kurallar" class="profil-username" data-html="true">
                        <i class="fa-solid fa-info p-3 fa-sm"></i>
                    </span>
                </li>
                {% if form.baslik.errors %}
                    <p class="mt-4 pt-1 pb-1 alert alert-danger col-10 col-md-5 center text-center">{{form.baslik.errors}}</p>
                {% endif %}
            </ul>
            <!-- <p class="col-6 offset-3">{{form.baslik}}</p> -->
            <h5 class="text-center mt-5">Soru</h5>
            <ul class="list-unstyled d-grid col-8 col-md-6 center">
                <li>{{form.soru}}</li>
                <li style="position: relative;margin-left: 100%;margin-top: -260px;">
                    <span data-toggle="popover1" title="Kurallar" class="profil-username" data-html="true">
                        <i class="fa-solid fa-info p-3 fa-sm"></i>
                    </span>
                </li>
            </ul>
            <input type="submit" value="Forum Ekle" class="btn btn-outline-dark center my-4">
        </form>
    </main>


  
        <script defer>
        


        let baslik = document.getElementById("id_baslik")
        let soru = document.getElementById("id_soru")
        soru.classList.add("form-control")
        baslik.classList.add("form-control")
        baslik.maxLength=100;
        $(document).ready(function() {
            $('[data-toggle="popover"').popover({
                content: `● Maksimum uzunluk 100 karakterdir.`,
                animation: true,
                placement: "right",
                trigger: 'hover',
                html: true
            });
        });

        $(document).ready(function() {
            $('[data-toggle="popover1"').popover({
                content: `● Maksimum uzunluk 500 karakterdir.`,
                animation: true,
                trigger: 'hover',
                placement: "right",
            });
        });

    </script>

    {% endblock content %}