{% extends 'base/ana.html' %} {% load static %} {% block title %}Ayarlar |
FIFAVOX{% endblock %} {% block content %}
<main class="col-11 col-lg-10 offset-1">
  {% for message in messages %}
  <div class="message col-8 col-sm-6 col-md-4 col-lg-3 text-center">
    {{message}}
  </div>
  {% endfor %}
  <div class="col-9 col-md-8 offset-1 offset-md-2 h-50">
    <ul class="nav nav-pills pt-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="setting-bar btn active"
          id="pills-home-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-home"
          type="button"
          role="tab"
          aria-controls="pills-home"
          aria-selected="true"
        >
          Genel
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="setting-bar btn"
          id="pills-profile-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-profile"
          type="button"
          role="tab"
          aria-controls="pills-profile"
          aria-selected="false"
        >
          Gizlilik
        </button>
      </li>
    </ul>

    <div class="tab-content border-top" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
      >
        <table
          style="
            width: 50vw;
            height: 60vh;
            margin-left: 50%;
            transform: translateX(-50%);
          "
        >
          <tbody>
            <tr>
              <td rowspan="4" style="width: 40%; text-align: center">
                <i class="far fa-user fa-4x mx-5"></i>
              </td>
            </tr>
            <tr>
              <td>
                <h6>Kullanıcı Adı : {{request.user.username}}</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6>Email : {{request.user.email}}</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6>Katılma Tarihi : {{request.user.date_joined}}</h6>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
      >
        <a
          href="{% url 'change_password' %}"
          class="btn btn-dark btn-lg center mt-5"
        >
          Şifre Değiştir
        </a>

        <br />
        <br />

        <a
          href="{% url 'email-degistir' %}"
          class="btn btn-dark btn-lg center mt-5"
        >
          Email Değiştir
        </a>
        <br />
        <br />

        <a
          href="{% url 'profil-foto' request.user.id %}"
          class="btn btn-dark btn-lg center mt-5"
        >
          Profili Düzenle
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock content %} {% block script %}
<script>
  $(document).ready(function () {
    $('[data-toggle="popover"').popover({
      content:
        "Başvuru Cevap Tarihi  : {{durum.guncellenme_tarihi}}  Kayıt Tarihi : {{request.user.date_joined}}",
      animation: true,
      placement: "top",
    });
  });
  $(".ayarlar").addClass("active-color");
  $(".ayarlar-icon").addClass("active-color");
</script>
{% endblock %}
