{% extends 'base/ana.html' %} {% load static %}
{% block title %}Email Değiştir | FIFAVOX{% endblock %}
 {% block content%}
    <main class="col-11 offset-1">
        <form method="POST">
            {% for message in messages %}
            <div class="message col-8 col-sm-6 col-md-4 col-lg-3 text-center">
                {{message}}
            </div>
            {% endfor %} {% csrf_token %}
            <div class="col-8 col-md-4 offset-2 offset-md-4">
                <h4 class="text-center pt-5">Email Değiştir</h4>
                <h5 class="mt-5">Şu anki Email</h5>
                <input type="email" class="form-control mt-2" name="eski-email" />
                <h5 class="mt-4">Yeni Email</h5>
                <input type="email" class="form-control" name="yeni-email1"  required/>
                <h5 class="mt-4">Yeni Email (Tekrar)</h5>
                <input type="email" class="form-control" name="yeni-email2" required />
            </div>
            <input type="submit" value="Değiştir" class="btn btn-outline-dark center mt-5" />
        </form>
    </main>

        <script defer>
        


    </script>
</body>

</html>
{% endblock content%}