{% extends 'base/ana.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/styleparticle.css' %}" />
<title>{{profil.username}} | FIFAVOX</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    body{
        overflow-y: auto;
    }
</style>
</head>

<body>
    <aside class="side-navbar col-1">
        <ul class="p-0 text-center">
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'profil' request.user.username|slugify %}"><img src="{% static 'images/logo.png' %}" class="logo-side-navbar col-sm-7 col-md-4 col-9 "></a>
            </li>
            {% else %}
            <li><img src="{% static 'images/logo.png' %}" class="col-sm-7 col-md-4 col-9 "></li>
            {% endif %}
            <li><a href="{% url 'anasayfa' %}"><i class=" fa-solid fa-house-user"></i><p class="d-none d-md-block">Anasayfa</p></a></li>
            <li><a href="{% url 'kisiler' %}"><i class=" fa-solid fa-headset"></i><p class="d-none d-md-block">Oyuncular</p></a></li>
            <li>
                <a href="{% url 'nasil-katilabilirim' %}">
                    <i class=" fa-solid fa-question"></i>
                    <p class="d-none d-md-block">Nasıl Katılabilirim</p>
                </a>
            </li>
            <li>
                <a href="{% url 'forumlar' %}">
                    <i class="fa-solid fa-comment-dots"></i>
                    <p class="d-none d-md-block">Forumlar</p>
                </a>
            </li>
            <li>
                <a href="{% url 'haberler' %}">
                    <i class="fa-solid fa-newspaper"></i>
                    <p class="d-none d-md-block">Haberler</p>
                </a>
            </li>

            <li>
                <a href="{% url 'formlar' %}">
                    <i class=" fa-solid fa-square-poll-vertical"></i>
                    <p class="d-none d-md-block">Formlar</p>
                </a>
            </li>{% if request.user.is_superuser and request.user.is_authenticated %}
            <li>
                <a href="{% url 'kayit-onay' %}">
                    <i class="fa-solid fa-circle-check"></i>
                    <p class="d-none d-md-block">Kayıt Onay</p>
                </a>
            </li>{% endif %} {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'ayarlar' %}">
                    <i class="fa-solid fa-gear"></i>
                    <p class="d-none d-md-block">Ayarlar</p>
                </a>
            </li>
            {% endif %}
            <li>
                {% if request.user.is_authenticated %}
                <a href="{% url 'cikis-yap' %}">
                    <i class=" fa-solid fa-arrow-right-from-bracket"></i>
                    <p class="d-none d-md-block"> Çıkış Yap</p>
                </a>
                {% else %}
                <a href="{% url 'giris-yap' %}">
                    <i class=" fa-solid fa-right-to-bracket"></i>
                    <p class="d-none d-md-block">Giriş Yap</p>
                </a>
                {% endif %}
            </li>
        </ul>
    </aside>

    <main class="col-11 col-lg-10 offset-1">
        {% for message in messages %}
        <div class="message col-8 col-sm-6 col-md-4 col-3 text-center">{{message}}</div>
        {% endfor %} {%if profil.arka_plan %}
        <div class="profil-background"><img class="col-12" style="min-height: 100px;" src="{{profil.arka_plan.url}}"></div>
        {% else %}
        <div class="profil-background"><img class="col-12" style="min-height: 100px;" src="{% static 'images/default-background.jpg' %}"></div>
        {% endif %}
        <div class="profil-rest" style="height: 100vh;" >
            {% if profil.resim %}
            <img src="{{profil.resim.url}}" class="profil-foto"> {%else%}
            <img src="{% static 'images/default-profile.jpg' %}" class="profil-foto"> {% endif %}
            <div class="biyografi">
                <div class="top">
                    <ul class="list-unstyled d-flex justify-content-start col-9 offset-3">
                        <li>
                            <h4 data-toggle="popover" title="
                            {% if durum.onaydurum == 'Kabul Et' %}
                            Onaylandın
                            {% elif durum.onaydurum == 'Bekle' %}
                            Beklemedesin
                            {% elif durum.onaydurum == 'Reddet' %}
                            Reddedildin
                            {% elif durum.onaydurum == 'Cevapsız' %}
                            Onaylanmak için kayıt formunu cevaplayın.
                            {% else %}
                            {% endif %}" class="profil-username">{{profil.username}} {% if durum %} {% if durum.onaydurum == "Kabul Et" %}
                                <i class="fa-solid fa-circle-check px-2 fa-sm" title="Kabul Edildin"></i>{% elif durum.onaydurum == "Bekle" %}
                                <i class="fa-solid fa-circle-pause px-2 fa-sm" title="Beklemedesin"></i>{% elif durum.onaydurum == "Yasakla" %}
                                <i class="fa-solid fa-ban" title="Yasaklandın"></i> {% elif durum.onaydurum == "Reddet" %}
                                <i class="fa-solid fa-circle-xmark px-2 fa-sm" title="Reddedildin"></i>{% elif durum.onaydurum == "Cevapsız" %}
                                <i class="fa-brands fa-creative-commons-nd px-2 fa-sm" title="Onaylanmak için kayıt formunu cevapla."></i> {% endif %} {% else %} - Onaylanmak için Kayıt Formunu Doldur {% endif %}
                            </h4>
                        </li>
                        {% if request.user.username == profil.username %}
                        <li><a href="{% url 'profil-foto' request.user.id %}" class="profil-edit"><i class="fa-solid fa-user-pen fa-lg"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% if profil.biyografi %}
                <h5 class="profil-biyografi offset-1 "><i class="text-black">{{profil.biyografi}}</i></h5>
                {% else %}
                <h5 class="profil-biyografi offset-1 "><i class="text-black">Kişi hakkında bilgi verilmemiş.</i></h5>
                {% endif %}
                <p class="profil-katilma d-none d-lg-block col-3">{{profil.user.date_joined}} Tarihinde Katıldı</p>
            </div>

            <div>
                
                {% if forumlari %}
                <h5 class="text-center py-4">Oluşturduğu Forumlar</h5>
                <table class="mt-5 table table-striped table-hover text-center" style="height: 100vh;background-color: white;">
                <thead>
                <tr class="th">
                    {% if user.is_authenticated %}
                    <th></th>
                    {% endif %}
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th class="d-none d-lg-table-cell">Tarih</th>
                    <th class="d-none d-md-table-cell">Cevap Sayısı</th>
                    <th>Bak</th>
                    {% if user.is_authenticated %}
                    <th>Sil</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody style="z-index: 10;" >{% for forum in forumlari %}
                <tr class="tr" title="{{forum.baslik}}" >
                    <td>
                        {% if request.user in forum.likes.all %}
                        <a href="{% url 'forum-begen-2' forum.id %}" style="cursor: pointer;"><i class="fa-solid fa-circle-chevron-up fa-md text-black" title="Beğen"></i></a> 
                        {% else %}
                        <a href="{% url 'forum-begen-2' forum.id %}" style="cursor: pointer;"><i class="fa-solid fa-circle-chevron-up fa-md" title="Beğen"></i></a> 
                        {% endif %} 
                        {% if request.user in forum.dislikes.all %}
                        <a href="{% url 'forum-begenme-2' forum.id %}"><i class="fa-solid fa-circle-chevron-down fa-md text-black" title="Beğenme"></i></a> 
                        {% else %}
                        <a href="{% url 'forum-begenme-2' forum.id %}"><i class="fa-solid fa-circle-chevron-down fa-md" title="Beğenme"></i></a> 
                        {% endif %} 
                        <span class="mx-1">{{forum.puan}}</span>
                        

                    </td>
                    <td class="aciklama">{{forum.baslik}}</td>
                    <td class="aciklama">{{forum.soru}}</td>
                    <td class="d-none d-lg-table-cell">{{forum.guncellenme_tarihi}}</td>
                    <td class="d-none d-md-table-cell">{{forum.yanit_sayi}}</td>
                    <td><a href="{% url 'forum' forum.id %}"><i class="fa-solid fa-eye" title="Bak"></i></a></td>
                    {% if user.is_authenticated %} {% if forum.profil.username == request.user.username or request.user.is_superuser %}
                    <td><a href="{% url 'forum-sil' forum.baslik|slugify %}"><i class="fa-solid fa-circle-minus"></i></a></td>
                    {% else %}
                    <td><i class="fa-solid fa-ban"></i></td>
                    {% endif %} {% endif %}
                </tr>{% endfor %}
                </tbody>
                </table>
                
                {% else %}
                <hr> {% if request.user.username == profil.username %}
                <h5 class="text-center pt-5">Hiç forum oluşturmamışsınız. <a href="{% url 'forum-ekle' %}" class="text-black"> Forum oluşturun.</a></h5>
                {% else %}
                <h5 class="text-center pt-5">Bu kullanıcı hiç forum oluşturmamış...</h5>
                {% endif %} {% endif %}
                <br>
            </div>
        </div>
    </main>

    <aside style="z-index: 10;" class="haberler col-1 offset-11 d-none d-lg-block">
        <ul>
            <p class="text-center h5">Haberler</p>
            <hr> {% for haber in haberler %}
            <li>

                <table>
                    <tr>
                        <td>
                            {% if haber.resim %}
                            <a href="{% url 'haber-detay' haber.baslik|slugify %}">
                                <img src="{{haber.resim.url}}" title="{{haber.baslik}}" alt="haber"></a>{% endif %}
                        </td>
                    </tr>
                </table>
            </li>
            {% endfor %}
        </ul>
    </aside>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        window.onbeforeunload = function() {
            var scrollPos;
            if (typeof window.pageYOffset != 'undefined') {
                scrollPos = window.pageYOffset;
            } else if (typeof document.compatMode != 'undefined' && document.compatMode != 'BackCompat') {
                scrollPos = document.documentElement.scrollTop;
            } else if (typeof document.body != 'undefined') {
                scrollPos = document.body.scrollTop;
            }
            document.cookie = "scrollTop=" + scrollPos;
        }
        window.onload = function() {
            if (document.cookie.match(/scrollTop=([^;]+)(;|$)/) != null) {
                var arr = document.cookie.match(/scrollTop=([^;]+)(;|$)/);
                document.documentElement.scrollTop = parseInt(arr[1]);
                document.body.scrollTop = parseInt(arr[1]);
            }
        }


        $(document).ready(function() {
            $('[data-toggle="popover"').popover({

                content: "{% if durum.onaydurum != 'Cevapsız' %}Başvuru Cevap Tarihi  : {{durum.guncellenme_tarihi}}{% endif %}",
                animation: true,
                placement: "right",
            });
        });
    </script>
</body>

</html>

{% endblock content %}