{% extends 'base/ana.html' %} {% block content %}{% load static %}

{% block title %}Cevaplanmış | FIFAVOX{% endblock %}




    <main class="col-11 col-lg-10 offset-1">
        <form class="col-10 offset-1">
            <h4 class="h4 text-center pt-5" style="font-weight:300">Bu formu çoktan doldurmuşsunuz. <br> Başka bir form doldurmak için geri dönün.</h4>
            <a href="{% url 'formlar' %}" class="btn btn-outline-dark center mt-4">Geri Dön</a>
        </form>
    </main>

    {% endblock content %}