{% extends 'base/ana.html' %} {% block content %}
 <title>Formlar | FIFAVA</title>
  </head>
  <body>
<aside class="side-navbar col-1">
      <ul class="p-0 text-center">
        <li><a href="{% url 'anasayfa' %}">Anasayfa</p></a></li>
        <li><a href="{% url 'kisiler' %}"><p>Oyuncular</p> </a></li>
        <li>
          <a href="">
          <p>Nasıl Katılabilirim</p> 
        </a>
        </li>
        {% if user.is_superuser %}
          <li>
            <a href="{% url 'haberler' %}">
              <p>Haberler</p> 
            </a>
          </li>
        {% endif %}
          <li>
            <a href="{% url 'formlar' %}">
              <p>Anketler</p> 
            </a>
          </li>
        <li>
        {% if user.is_authenticated %}
        <a href="{% url 'cikis-yap' %}"> <p> Çıkış Yap</p></a>
        {% else %}
        <a href="{% url 'giris-yap' %}"><p>Giriş Yap</p> </a>
        {% endif %}
        </li>
      </ul>
    </aside>

<main class="col-11 col-lg-10 offset-1">
    <form>
     <h4 class="text-center pt-5">Bu anketi çoktan doldurmuşsunuz. <br> Başka bir anket doldurmak için geri dönün.</h4>
     <a href="{% url 'formlar' %}" class="btn btn-outline-dark center mt-4">Geri Dön</a>
    </form>
</main>

<aside class="haberler col-1 offset-11  d-none d-lg-block">
      <ul>
          <p class="text-center h5">Haberler  <hr>
        {% for haber in haberler %}
        <li>
            
            <table>
                <tr>
                    <td>{{haber.baslik}}</td>
                    <td><img src="https://media.istockphoto.com/vectors/newspaper-cover-page-vector-id187925868?k=20&m=187925868&s=612x612&w=0&h=xn8eHpzq2KMomzY5YROMoKSZKxcYWNjGZOw25cUV28Y=" title="haber" alt="haber"></td>
                </tr>
            </table>
        </li>
        {% endfor %}
      </ul>
</aside>
{% endblock content %}
