 {% extends 'base/ana.html' %} {% load static %} {% block content %}
<title>Formlar | FIFAVOX</title>
</head>

<body>

    <aside class="side-navbar col-1">
            <ul class="p-0 text-center">
                {% if user.is_authenticated %}
                <li>
                    <img src="{% static 'images/logo.png' %}" data-toggle="popover"  title="
                    {% if durum.onaydurum == 'Kabul Et' %}
                    Onaylandın
                    {% elif durum.onaydurum == 'Bekle' %}
                    Beklemedesin
                    {% elif durum.onaydurum == 'Reddet' %}
                    Reddedildin
                    {% elif durum.onaydurum == 'Cevapsız' %}
                    {% endif %}" data-content="Neden" class="logo-side-navbar col-sm-7 col-md-4 col-9 ">
                </li>
                {% else %}
                <li><img src="{% static 'images/logo.png' %}" class="col-sm-7 col-md-4 col-9 "></li>
                {% endif %}
                <li><a href="{% url 'anasayfa' %}"><i class=" fa-solid fa-house-user"></i><p class="d-none d-md-block">Anasayfa</p></a></li>
                <li><a href="{% url 'kisiler' %}"><i class=" fa-solid fa-headset"></i><p class="d-none d-md-block">Oyuncular</p></a></li>
                <li>
                    <a href="{% url 'nasil-katilabilirim' %}">
                        <i class=" fa-solid fa-question"></i>
                        <p class="d-none d-md-block">Nasıl Katılabilirim</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'haberler' %}">
                        <i class="fa-solid fa-newspaper"></i>
                        <p class="d-none d-md-block">Haberler</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'formlar' %}">
                        <i class=" fa-solid fa-square-poll-vertical"></i>
                        <p class="d-none d-md-block">Formlar</p>
                    </a>
                </li>{% if user.is_superuser and user.is_authenticated %}
                <li>
                    <a href="{% url 'kayit-onay' %}">
                        <i class="fa-solid fa-circle-check"></i>
                        <p class="d-none d-md-block">Kayıt Onay</p>
                    </a>
                </li>{% endif %} {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'ayarlar' %}">
                        <i class="fa-solid fa-gear"></i>
                        <p class="d-none d-md-block">Ayarlar</p>
                    </a>
                </li>

                {% endif %}
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'cikis-yap' %}">
                        <i class=" fa-solid fa-arrow-right-from-bracket"></i>
                        <p class="d-none d-md-block"> Çıkış Yap</p>
                    </a>
                    {% else %}
                    <a href="{% url 'giris-yap' %}">
                        <i class=" fa-solid fa-right-to-bracket"></i>
                        <p class="d-none d-md-block">Giriş Yap</p>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </aside>




    <main class="col-11 col-lg-10 offset-1 mb-3">
        {% for message in messages %}
        <div class="message col-8 col-sm-6 col-md-4 col-3 text-center">{{message}}</div>
        {% endfor %}
        <h4 class="text-center pt-5 mb-5">Formlar</h4>

        <form method="POST">
            {% csrf_token %}
            <table class="center col-sm-8 col-md-4 mb-5">
                <tr>
                    <td><input type="text" class="form-control col-10" placeholder="Aranacak Formun Başlığı" name="arama"></td>
                    <td class="col-1"><input type="submit" value="Ara" class="text-center btn btn-outline-dark font-3 mx-2"></td>
                    {% if user.is_superuser %}
                    <td>
                        <a href="{% url 'form-ekle' %}"><i class="fa-solid fa-circle-plus pt-1 ml-2"></i></a>
                    </td>
                    {% endif %}
                </tr>
            </table>
        </form>

        {% if formlar %}
        <table class="table table-striped table-hover mb-3">
            <thead class="text-center">
                <tr>
                    <th>Başlık</th>
                    <th>Tarih</th>
                    <th>Detay</th>
                    {% if user.is_superuser %}
                    <th>Düzenle</th>
                    <th>Sil</th>
                    <th>Analiz</th>
                    {% endif %}
                    <th>Cevapla</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formlar %}
                <tr class="text-center">
                    <td>{{form.baslik}}</td>
                    <td>{{form.guncellenme_tarihi}}</td>
                    <td><a href="{% url 'form-detay' form.baslik|slugify %}"><i class="fa-solid fa-circle-info"></i></a></td>
                    {% if user.is_superuser %}
                    <td><a href="{% url 'form-duzenle' form.baslik|slugify %}"><i class="fa-solid fa-pen"></i></td>
                    <td><a href="{% url 'form-sil' form.baslik|slugify %}"><i class="fa-solid fa-minus"></i></a></td>
                    <td><a href="{% url 'form-analiz' form.baslik|slugify %}"><i class="fa-solid fa-chart-line"></i></a></td>
                    {% endif %} {% if user.is_authenticated%}
                    <td><a href="{% url 'form-cevapla' form.baslik|slugify %}"><i class="fa-solid fa-reply"></i></a></td>
                    {% else %}
                    <td><i class="fa-solid fa-xmark" title="Cevaplamak için giriş yapın..."></i></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="offset-1 mt-5">
            {% if formlar.has_previous%}
            <a href="?page=1" class="text-black"><i class="fas fa-angle-double-left"></i></a> {% endif %} {% if formlar.has_previous%}
            <a href="?page={{formlar.previous_page_number}}" class="text-black"><i class="fas fa-chevron-left"></i></a> {% else %}
            <i class="fas fa-chevron-left disabled" style="color: gray;">
                </i> {% endif %} {{formlar.number}} de {{formlar.paginator.num_pages}} {% if formlar.has_next %}
            <a href="?page={{formlar.next_page_number}}" class="text-black"><i class="fas fa-chevron-right"></i></a>
            <a href="?page={{formlar.paginator.num_pages}}" class="text-black"><i class="fas fa-angle-double-right"></i></a> {% else %}
            <i class="fas fa-chevron-right" style="color: gray;"></i> {% endif %}
        </p>
        {% else %}
        <h4 class="text-center mt-4 mb-5">Form yok...</h4>
        {% endif %} {% if not formlar %}
        <hr> {% endif %}
        <!-- <h4 class="mt-5 text-center">Cevaplananlar</h4>
        {% if cevap %}
        <table class="table table-striped table-hover  mt-5">
          <thead class="text-center">
            <tr>
              <th>Başlık</th>
              <th>Tarih</th>
              <th>Detay</th>
              <th>Düzenle</th>
              <th>Sil</th>
            </tr>
          </thead>
          <tbody> 
            {% for c in cevap %}
            <tr class="text-center">
              <td>{{c.baslik}}</td>
              <td>{{c.guncellenme_tarihi}}</td>
              <td><a href="{% url 'cevap-detay' c.id %}"><i class="fa-solid fa-circle-info"></i></a></td>
              <td><a href="{% url 'cevaplanmis-duzenle' c.id %}"><i class="fa-solid fa-pen"></i></a></td>
              <td><a href="{% url 'cevap-sil' c.id %}"><i class="fa-solid fa-minus"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        {% if user.is_authenticated%}
        <h5 class="mt-5 text-center">Cevapladığınız anket yok...</h5>
        {% else %}
        <h5 class="mt-5 text-center">Cevaplamak için giriş yapın...</h5>
        {% endif %}
        {% endif %} -->
    </main>




    <aside class="haberler col-1 offset-11 d-none d-lg-block">
            <ul>
                <p class="text-center h5">Haberler</p>
                <hr> {% for haber in haberler %}
                <li>

                    <table>
                        <tr>
                            <td>
                                {% if haber.resim %}
                                <a href="{% url 'haber-detay' haber.baslik|slugify %}">
                                    <img src="{{haber.resim.url}}" title="{{haber.baslik}}" alt="haber"></a>{% endif %}
                            </td>
                        </tr>
                    </table>
                </li>
                {% endfor %}
            </ul>
        </aside>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><script>
        $(document).ready(function () {
    $('[data-toggle="popover"').popover({
      content:
        "Başvuru Cevap Tarihi  : {{durum.guncellenme_tarihi}}  Kayıt Tarihi : {{request.user.date_joined}}",
      animation: true,
      placement: "top",
    });
  });
    </script>
  </body>

{% endblock content %}