 {% extends 'base/ana.html' %}
 {% block content %}
 <title>Formlar | FIFAVA</title>
  </head>
  <body>
     <aside class="side-navbar col-2" >
      <ul class="p-0 text-center">
        <li><a href="{% url 'anasayfa' %}"><p>Anasayfa</p></a></li>
        <li><a href="{% url 'kisiler' %}"><p>Oyuncular</p> </a></li>
        <li>
          <a href="">
          <p>Nasıl Katılabilirim</p> 
        </a>
        </li>
        {% if user.is_superuser %}
          <li>
            <a href="{% url 'haberler' %}">
              <p>Haberler</p> 
            </a>
          </li>
        {% endif %}
          <li>
            <a href="{% url 'formlar' %}">
              <p>Anketler</p> 
            </a>
          </li>
        <li>
        {% if user.is_authenticated %}
        <a href="{% url 'cikis-yap' %}"> <p> Çıkış Yap</p></a>
        {% else %}
        <a href="{% url 'giris-yap' %}"><p>Giriş Yap</p> </a>
        {% endif %}
        </li>
      </ul>
    </aside>


    <main class="col-10 col-lg-8 offset-2">
      <h4 class="text-center pt-5 mb-4">{{form.baslik}}</h4>
        <div class="mt-5">
          <table class="table table-striped text-center">
            <tr>
              <td>Şıklı Soru Sayısı : {{sikli_soru_sayisi}}</td>
              <td>Şıklı Sorulara Genel Katılım Yüzdesi : {{yuzde|floatformat:2}}%</td>
            </tr>
            {% for i in dizi %}
            <tr>
              <td colspan="2">Katılma Yüzdesi : {{i|floatformat:2}}%</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="2">Metinli Soru Sayısı: {{sorusayac}}</td>
            </tr>
          </table>
          <div class="cevaplar">
            {% if cevaplar %}
            {% for cevap in cevaplar %}

             <h5>{{cevap.soru1_cevap}}</h5> 
             <h5>{{cevap.soru2_cevap}}</h5> 
             <h5>{{cevap.soru3_cevap}}</h5> 
             <h5>{{cevap.soru4_cevap}}</h5> 
             <h5>{{cevap.soru5_cevap}}</h5> 
             <h5>{{cevap.soru6_cevap}}</h5> 
             <h5>{{cevap.soru7_cevap}}</h5> 
             <h5>{{cevap.soru8_cevap}}</h5> 
             <h5>{{cevap.soru9_cevap}}</h5> 
             <h5>{{cevap.soru10_cevap}}</h5>
             <h5>{{cevap.soru11_cevap}}</h5>
             <h5>{{cevap.soru12_cevap}}</h5>
             <h5>{{cevap.soru13_cevap}}</h5>
             <h5>{{cevap.soru14_cevap}}</h5>
             <h5>{{cevap.soru15_cevap}}</h5>
             <h5>{{cevap.soru16_cevap}}</h5>
             <h5>{{cevap.soru17_cevap}}</h5>
             <h5>{{cevap.soru18_cevap}}</h5>
             <h5>{{cevap.onay1}}</h5>
             <h5>{{cevap.onay2}}</h5>
             <h5>{{cevap.onay3}}</h5>
             <h5>{{cevap.onay4}}</h5>

            {% endfor %}
            <p class="offset-1">
                {% if cevaplar_hepsi.has_previous%}
                <a href="?page=1" style="color: black;"><i class="fas fa-angle-double-left"></i></a>
               {% endif %}
                {% if cevaplar_hepsi.has_previous%}
                <a href="?page={{cevaplar_hepsi.previous_page_number}}" style="color: black;"><i class="fas fa-chevron-left"></i></a> 
                {% else %}
                <i class="fas fa-chevron-left disabled" style="color: gray;">
                </i> 
                {% endif %} 
        
                {{cevaplar_hepsi.number}} de {{cevaplar_hepsi.paginator.num_pages}} 
        
                {% if cevaplar_hepsi.has_next %}
                <a href="?page={{cevaplar_hepsi.next_page_number}}" style="color: black;"><i class="fas fa-chevron-right"></i></a>
                <a href="?page={{cevaplar_hepsi.paginator.num_pages}}" style="color: black;"><i class="fas fa-angle-double-right"></i></a>
                {% else %}
                <i class="fas fa-chevron-right" style="color: gray;"></i> 
               {% endif %}
              </p>
              {% endif %}
          </div>
    </main>



    <aside class="haberler col-2 offset-10  d-none d-lg-block">
      <ul>
          <p class="text-center h5">Haberler</p>
        {% for haber in haberler %}
        <li>
            
            <table>
                <tr>
                    <td>{{haber.baslik}}</td>
                    <td><img src="https://media.istockphoto.com/vectors/newspaper-cover-page-vector-id187925868?k=20&m=187925868&s=612x612&w=0&h=xn8eHpzq2KMomzY5YROMoKSZKxcYWNjGZOw25cUV28Y=" title="haber" alt="haber"></td>
                </tr>
            </table>
        </li>
        {% endfor %}
      </ul>
    </aside>
  </body>

{% endblock content %}
 
