 {% extends 'base/ana.html' %}
 {% block content %}
 <title>Form Ekle | FIFAVA</title>
  </head>
  <body>
    <aside class="side-navbar col-2 bg-dark" >
      <ul class="p-0 text-center">
        <li><a href="{% url 'anasayfa' %}"><i class="fa-solid fa-house"></i> <p>Anasayfa</p></a></li>
        <li><a href="{% url 'kisiler' %}"><i class="fa-solid fa-person"></i> <p>Oyuncular</p> </a></li>
        <li>
          <a href="">
          <i class="fa-solid fa-question"></i> <p>Nasıl Katılabilirim</p> 
        </a>
        </li>
        {% if user.is_superuser %}
          <li>
            <a href="{% url 'haberler' %}">
              <i class="fa-solid fa-newspaper"></i> <p>Haberler</p> 
            </a>
          </li>
        {% endif %}
          <li>
            <a href="{% url 'formlar' %}">
              <i class="fa-solid fa-file"></i> <p>Formlar</p> 
            </a>
          </li>
        <li>
        {% if user.is_authenticated %}
        <a href="{% url 'cikis-yap' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> <p> Çıkış Yap</p></a>
        {% else %}
        <a href="{% url 'giris-yap' %}"><i class="fa-solid fa-arrow-right-to-bracket"></i> <p>Giriş Yap</p> </a>
        {% endif %}
        </li>
        
      </ul>
    </aside>
    <!-- <main class="col-10 col-lg-8 offset-2">
    <h4 class="text-center pt-4 pb-5">Kişi Ekle</h4>
    <label class="center">Form Girdi Sayısı <input type="number" class="input mx-1" max="10"> <button class="btn btn-outline-dark mx-1" onclick="olustur()">Oluştur</button></label> -->
    
    <main class="col-6 col-lg-6 offset-3">
      <form method="post">
        {% csrf_token %}
      <label class="pt-5">Anket Başlığı</label>
      <div class="pb-5">{{soru.baslik}}</div>
      <label>Soru 1</label>
      <div class="pb-5">{{ soru.soru1 }}</div>
      <label>Soru 2</label>
      <div class="pb-5">{{ soru.soru2 }}</div>
      <label>Soru 3</label>
      <div class="pb-5">{{ soru.soru3 }}</div>
      <label>Soru 4</label>
      <div class="pb-5">{{ soru.soru4 }}</div>
      <label>Soru 5</label>
      <div class="pb-5">{{ soru.soru5 }}</div>
      <label>Soru 6</label>
      <div class="pb-5">{{ soru.soru6 }}</div>
      <label>Soru 7</label>
      <div class="pb-5">{{ soru.soru7 }}</div>
      <label>Soru 8</label>
      <div class="pb-5">{{ soru.soru8 }}</div>
      <label>Soru 9</label>
      <div class="pb-5">{{ soru.soru9 }}</div>
      <label>Soru 10</label>
      <div class="pb-5">{{ soru.soru10 }}</div>
      <input type="submit" value="Kişi Ekle" class="btn btn-outline-dark mt-3 offset-5 mb-5">
    </form>
    </main>
    
    
  </main>

    <aside class="haberler col-2 offset-10 bg-dark d-none d-lg-block">
      <ul>
          <p class="text-center h5">Haberler</p>
        {% for haber in haberler %}
        <li>
            
            <table>
                <tr>
                    <td>{{haber.baslik}}</td>
                    <td><img src="https://media.istockphoto.com/vectors/newspaper-cover-page-vector-id187925868?k=20&m=187925868&s=612x612&w=0&h=xn8eHpzq2KMomzY5YROMoKSZKxcYWNjGZOw25cUV28Y=" title="haber" alt="haber"></td>
                </tr>
            </table>
        </li>
        {% endfor %}
      </ul>
    </aside>

    

{% endblock content %}
 
