 {% extends 'base/ana.html' %}  {% load static %} 
 {% block content %}
 <title>Anketi Cevaplama | FIFAVA</title>
  </head>
  <body>
     <aside class="side-navbar col-1">
            <ul class="p-0 text-center">
                <li><img src="{% static 'images/logo.png' %}" class="col-5"></li>
                <li><a href="{% url 'anasayfa' %}"><i class=" fa-solid fa-house-user"></i><p class="d-none d-md-block">Anasayfa</p></a></li>
                <li><a href="{% url 'kisiler' %}"><i class=" fa-solid fa-headset"></i><p class="d-none d-md-block">Oyuncular</p></a></li>
                <li>
                    <a href="">
                        <i class=" fa-solid fa-question"></i>
                        <p class="d-none d-md-block">Nasıl Katılabilirim</p>
                    </a>
                </li>
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'haberler' %}">
                        <p class="d-none d-md-block">Haberler</p>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'formlar' %}">
                        <i class=" fa-solid fa-square-poll-vertical"></i>
                        <p class="d-none d-md-block">Anketler</p>
                    </a>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'cikis-yap' %}">
                        <i class=" fa-solid fa-arrow-right-from-bracket"></i>
                        <p class="d-none d-md-block"> Çıkış Yap</p>
                    </a>
                    {% else %}
                    <a href="{% url 'giris-yap' %}">
                        <i class=" fa-solid fa-right-to-bracket"></i>
                        <p class="d-none d-md-block">Giriş Yap</p>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </aside>    <main class="col-6 col-lg-8 offset-2">
      <form method="post">
        {% csrf_token %}
        <h5 class="text-center pt-5">{{sorular.baslik}}</h5>
        <div class="text-center">
          <h5 class="mt-5">Sorular</h5>
          {% if sorular.soru1 %}
          <div class="pb-3 pt-5">{{ sorular.soru1 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru1_cevap}}</div>
          {% endif %}
          {% if sorular.soru2 %}
          <div class="pb-3 pt-5">{{ sorular.soru2 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru2_cevap}}</div>
          {% endif %}
          {% if sorular.soru3 %}
          <div class="pb-3 pt-5">{{ sorular.soru3 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru3_cevap}}</div>
          {% endif %}
          {% if sorular.soru4 %}
          <div class="pb-3 pt-5">{{ sorular.soru4 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru4_cevap}}</div>
          {% endif %}
          {% if sorular.soru5 %}
          <div class="pb-3 pt-5">{{ sorular.soru5 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru5_cevap}}</div>
          {% endif %}
          {% if sorular.soru6 %}
          <div class="pb-3 pt-5">{{ sorular.soru6 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru6_cevap}}</div>
          {% endif %}
          {% if sorular.soru7 %}
          <div class="pb-3 pt-5">{{ sorular.soru7 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru7_cevap}}</div>
          {% endif %}
          {% if sorular.soru8 %}
          <div class="pb-3 pt-5">{{ sorular.soru8 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru8_cevap}}</div>
          {% endif %}
          {% if sorular.soru9 %}
          <div class="pb-3 pt-5">{{ sorular.soru9 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru9_cevap}}</div>
          {% endif %}
          {% if sorular.soru10 %}
          <div class="pb-3 pt-5">{{ sorular.soru10 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru10_cevap}}</div>
          {% endif %}
          {% if sorular.soru11 %}
          <div class="pb-3 pt-5">{{ sorular.soru11 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru11_cevap}}</div>
          {% endif %}
          {% if sorular.soru12 %}
          <div class="pb-3 pt-5">{{ sorular.soru12 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru12_cevap}}</div>
          {% endif %}
          {% if sorular.soru13 %}
          <div class="pb-3 pt-5">{{ sorular.soru13 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru13_cevap}}</div>
          {% endif %}
          {% if sorular.soru14 %}
          <div class="pb-3 pt-5">{{ sorular.soru14 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru14_cevap}}</div>
          {% endif %}
          {% if sorular.soru15 %}
          <div class="pb-3 pt-5">{{ sorular.soru15 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru15_cevap}}</div>
          {% endif %}
          {% if sorular.soru16 %}
          <div class="pb-3 pt-5">{{ sorular.soru16 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru16_cevap}}</div>
          {% endif %}
          {% if sorular.soru17 %}
          <div class="pb-3 pt-5">{{ sorular.soru17 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru17_cevap}}</div>
          {% endif %}
          {% if sorular.soru18 %}
          <div class="pb-3 pt-5">{{ sorular.soru18 }}</div>
          <div class="col-4 offset-4 pb-2">{{form.soru18_cevap}}</div>
          {% endif %}
        </div>
        <div class="offset-3 mt-5">
          {% if sorular.onay1 %}
          <span>{{form.onay1_cevap}}</span>
          <span class="pb-3 pt-5">{{ sorular.onay1 }}</span>
          {% endif %}
          <br>
          <br>
          {% if sorular.onay2 %}
          <span>{{form.onay2_cevap}}</span>
          <span class="pb-3 pt-5">{{ sorular.onay2 }}</span>
          {% endif %}
          <br>
          <br>
          {% if sorular.onay3 %}
          <span>{{form.onay3_cevap}}</span>
          <span class="pb-3 pt-5">{{ sorular.onay3 }}</span>
          {% endif %}
          <br>
          <br>
          {% if sorular.onay4 %}
          <span>{{form.onay4_cevap}}</span>
          <span class="pb-3 pt-5">{{ sorular.onay4 }}</span>
          {% endif %}
        </div>
        


        <input type="submit" value="Anketi Cevapla" class="center btn btn-outline-dark mt-5 mb-5"> 
        </form>
      </main>
    
      <aside class="haberler col-1 offset-11  d-none d-lg-block">
      <ul>
          <p class="text-center h5">Haberler</p>  <hr>
        {% for haber in haberler %}
        <li>
            
            <table>
                <tr>
                    <td>{{haber.baslik}}</td>
                    <td><img src="https://media.istockphoto.com/vectors/newspaper-cover-page-vector-id187925868?k=20&m=187925868&s=612x612&w=0&h=xn8eHpzq2KMomzY5YROMoKSZKxcYWNjGZOw25cUV28Y=" title="haber" alt="haber"></td>
                </tr>
            </table>
        </li>
        {% endfor %}
      </ul>
    </aside>
    
  </body>
</html>
{% endblock content %}
 
