 {% extends 'base/ana.html' %}  {% load static %} 
 {% block content %}
 <title>Form Ekle | FIFAVOX</title>
  </head>
  <body>
     <aside class="side-navbar col-1">
            <ul class="p-0 text-center">
                {% if user.is_authenticated %}
                <li><a href="{% url 'profil' request.user.username|slugify %}"><img src="{% static 'images/logo.png' %}" class="col-sm-7 col-md-4 col-9 "></a></li>
                {% else %}
                <li><img src="{% static 'images/logo.png' %}" class="col-sm-7 col-md-4 col-9 "></li>
                {% endif %}
                <li><a href="{% url 'anasayfa' %}"><i class=" fa-solid fa-house-user"></i><p class="d-none d-md-block">Anasayfa</p></a></li>
                <li><a href="{% url 'kisiler' %}"><i class=" fa-solid fa-headset"></i><p class="d-none d-md-block">Oyuncular</p></a></li>
                <li>
                    <a href="{% url 'nasil-katilabilirim' %}">
                        <i class=" fa-solid fa-question"></i>
                        <p class="d-none d-md-block">Nasıl Katılabilirim</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'haberler' %}">
                        <i class="fa-solid fa-newspaper"></i>
                        <p class="d-none d-md-block">Haberler</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'formlar' %}">
                        <i class=" fa-solid fa-square-poll-vertical"></i>
                        <p class="d-none d-md-block">Formlar</p>
                    </a>
                </li>{% if user.is_superuser and user.is_authenticated %}
                <li>
                    <a href="{% url 'kayit-onay' %}">
                        <i class="fa-solid fa-circle-check"></i>
                        <p class="d-none d-md-block">Kayıt Onay</p>
                    </a>
                </li>{% endif %} {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'ayarlar' %}">
                        <i class="fa-solid fa-gear"></i>
                        <p class="d-none d-md-block">Ayarlar</p>
                    </a>
                </li>

                {% endif %}
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'cikis-yap' %}">
                        <i class=" fa-solid fa-arrow-right-from-bracket"></i>
                        <p class="d-none d-md-block"> Çıkış Yap</p>
                    </a>
                    {% else %}
                    <a href="{% url 'giris-yap' %}">
                        <i class=" fa-solid fa-right-to-bracket"></i>
                        <p class="d-none d-md-block">Giriş Yap</p>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </aside>    <!-- <main class="col-11 col-lg-10 offset-1">
    <h4 class="text-center pt-4 pb-5">Kişi Ekle</h4>
    <label class="center">Form Girdi Sayısı <input type="number" class="input mx-1" max="10"> <button class="btn btn-outline-dark mx-1" onclick="olustur()">Oluştur</button></label> -->
    
    <main class="col-8 col-lg-6 offset-3">
      <form method="post">
        {% csrf_token %}
      <label class="pt-5">Formun Başlığı</label>
      <div class="pb-5">{{form.baslik}}</div>
      <h4 class="mt-4 mb-5">Şıklı Sorular</h4>
      <label>Soru 1</label>
      <div class="pb-5">{{ form.soru1 }}</div>
      <label>Soru 2</label>
      <div class="pb-5">{{ form.soru2 }}</div>
      <label>Soru 3</label>
      <div class="pb-5">{{ form.soru3 }}</div>
      <label>Soru 4</label>
      <div class="pb-5">{{ form.soru4 }}</div>
      <label>Soru 5</label>
      <div class="pb-5">{{ form.soru5 }}</div>
      <label>Soru 6</label>
      <div class="pb-5">{{ form.soru6 }}</div>
      <label>Soru 7</label>
      <div class="pb-5">{{ form.soru7 }}</div>
      <label>Soru 8</label>
      <div class="pb-5">{{ form.soru8 }}</div>
      <label>Soru 9</label>
      <div class="pb-5">{{ form.soru9 }}</div>
      <label>Soru 10</label>
      <div class="pb-5">{{ form.soru10 }}</div>
      <h4 class="mt-4 mb-5">Metinli Sorular</h4>
      <label>Soru 11</label>
      <div class="pb-5">{{ form.soru11 }}</div>
      <label>Soru 12</label>
      <div class="pb-5">{{ form.soru12 }}</div>
      <label>Soru 13</label>
      <div class="pb-5">{{ form.soru13 }}</div>
      <label>Soru 14</label>
      <div class="pb-5">{{ form.soru14 }}</div>
      <label>Soru 15</label>
      <div class="pb-5">{{ form.soru15 }}</div>
      <label>Soru 16</label>
      <div class="pb-5">{{ form.soru16 }}</div>
      <label>Soru 17</label>
      <div class="pb-5">{{ form.soru17 }}</div>
      <label>Soru 18</label>
      <div class="pb-5">{{ form.soru18 }}</div>
      <h4 class="mt-4 mb-5">Onay Kutuları</h4>
      <label>Onay Kutusu 1</label>
      <div class="pb-5">{{ form.onay1 }}</div>
      <label>Onay Kutusu 2</label>
      <div class="pb-5">{{ form.onay2 }}</div>
      <label>Onay Kutusu 3</label>
      <div class="pb-5">{{ form.onay3 }}</div>
      <label>Onay Kutusu 4</label>
      <div class="pb-5">{{ form.onay4 }}</div>
      
      <input type="submit" value="Anket Ekle" class="btn btn-outline-dark mt-3 offset-5 mb-5">
    </form>
    </main>
    
    
  </main>

    <aside class="haberler col-1 offset-11 d-none d-lg-block">
            <ul>
                <p class="text-center h5">Haberler</p>
                <hr> {% for haber in haberler %}
                <li>

                    <table>
                        <tr>
                            <td>
                                {% if haber.resim %}<a href="{% url 'haber-detay' haber.baslik|slugify %}">
                                    <img src="{{haber.resim.url}}" title="{{haber.baslik}}" alt="haber"></a>{% endif %}
                            </td>
                        </tr>
                    </table>
                </li>
                {% endfor %}
            </ul>
    </aside>

    

{% endblock content %}
 
