 {% extends 'base/ana.html' %}
 {% block content %}
 <title>Formlar | FIFAVA</title>
  </head>
  <body>
     <aside class="side-navbar col-1" >
      <ul class="p-0 text-center">
        <li><a href="{% url 'anasayfa' %}"><p>Anasayfa</p></a></li>
        <li><a href="{% url 'kisiler' %}"><p>Oyuncular</p> </a></li>
        <li>
          <a href="">
          <p>Nasıl Katılabilirim</p> 
        </a>
        </li>
        {% if user.is_superuser %}
          <li>
            <a href="{% url 'haberler' %}">
              <p>Haberler</p> 
            </a>
          </li>
        {% endif %}
          <li>
            <a href="{% url 'formlar' %}">
              <p>Anketler</p> 
            </a>
          </li>
        <li>
        {% if user.is_authenticated %}
        <a href="{% url 'cikis-yap' %}"> <p> Çıkış Yap</p></a>
        {% else %}
        <a href="{% url 'giris-yap' %}"><p>Giriş Yap</p> </a>
        {% endif %}
        </li>
      </ul>
    </aside>


    <main class="col-11 col-lg-9 offset-1">
      <h4 class="text-center pt-5 mb-4">{{form.baslik}}</h4>
        <div class="mt-5">
          <table class="table table-striped text-center">
            <tr>
              <td>Şıklı Soru Sayısı : {{sikli_soru_sayisi}}</td>
              <td>Şıklı Sorulara Genel Katılım Yüzdesi : {{yuzde|floatformat:2}}%</td>
            </tr>
            {% for i in dizi %}
            <tr>
              <td colspan="2">Katılma Yüzdesi : {{i|floatformat:2}}%</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="2">Metinli Soru Sayısı: {{sorusayac}}</td>
            </tr>
          </table>
          <p class="offset-1">
                {% if cevaplar.has_previous%}
                <a href="?page=1" style="color: black;"><i class="fas fa-angle-double-left"></i></a>
               {% endif %}
                {% if cevaplar.has_previous%}
                <a href="?page={{cevaplar.previous_page_number}}" style="color: black;"><i class="fas fa-chevron-left"></i></a> 
                {% else %}
                <i class="fas fa-chevron-left disabled" style="color: gray;">
                </i> 
                {% endif %} 
        
                {{cevaplar.number}} de {{cevaplar.paginator.num_pages}} 
        
                {% if cevaplar.has_next %}
                <a href="?page={{cevaplar.next_page_number}}" style="color: black;"><i class="fas fa-chevron-right"></i></a>
                <a href="?page={{cevaplar.paginator.num_pages}}" style="color: black;"><i class="fas fa-angle-double-right"></i></a>
                {% else %}
                <i class="fas fa-chevron-right" style="color: gray;"></i> 
               {% endif %}
          </p>
          <div class="cevaplar text-center">
            {% for cevap in cevaplar %}
            {% if cevap.sorular.soru1 %}
             <p>{{cevap.sorular.soru1}}</p>
             <h5>{{cevap.soru1_cevap}}</h5>
            {% endif %}
            <br>
            {% if cevap.sorular.soru2 %}
             <p>{{cevap.sorular.soru2}}</p>
             <h5>{{cevap.soru2_cevap}}</h5> 
            {% endif %}
            <br>

            {% if cevap.sorular.soru3 %}
             <p>{{cevap.sorular.soru3}}</p>
             <h5>{{cevap.soru3_cevap}}</h5> 
            {% endif %}
            <br>

            {% if cevap.sorular.soru4 %}
             <p>{{cevap.sorular.soru4}}</p>
             <h5>{{cevap.soru4_cevap}}</h5> 
            {% endif %}
            <br>

            {% if cevap.sorular.soru5 %}
             <p>{{cevap.sorular.soru5}}</p>
             <h5>{{cevap.soru5_cevap}}</h5> 
            {% endif %}
            <br>

            {% if cevap.sorular.soru6 %}
             <p>{{cevap.sorular.soru6}}</p>
             <h5>{{cevap.soru6_cevap}}</h5> 
            {% endif %}
            <br>

            {% if cevap.sorular.soru7 %}
             <p>{{cevap.sorular.soru7}}</p>
             <h5>{{cevap.soru7_cevap}}</h5> 
            {% endif %}
            <br>
             
            {% if cevap.sorular.soru8 %}
             <p>{{cevap.sorular.soru8}}</p>
             <h5>{{cevap.soru8_cevap}}</h5> 
            {% endif %}
            <br>

            {% if cevap.sorular.soru9 %}
             <p>{{cevap.sorular.soru9}}</p>
             <h5>{{cevap.soru9_cevap}}</h5> 
            {% endif %}
            <br>

            {% if cevap.sorular.soru10 %}
             <p>{{cevap.sorular.soru10}}</p>
             <h5>{{cevap.soru10_cevap}}</h5>
            {% endif %}

            {% if cevap.sorular.soru11 %}
             <p>{{cevap.sorular.soru11}}</p>
             <h5>{{cevap.soru11_cevap}}</h5>
            {% endif %}
            <br>
            
            {% if cevap.sorular.soru12 %}
             <p>{{cevap.sorular.soru12}}</p>
             <h5>{{cevap.soru12_cevap}}</h5>
            {% endif %}
            <br>
            
            {% if cevap.sorular.soru13 %} 
             <p>{{cevap.sorular.soru13}}</p>
             <h5>{{cevap.soru13_cevap}}</h5>
            {% endif %}
            <br>  
            {% if cevap.sorular.soru14 %}
             <p>{{cevap.sorular.soru14}}</p>
             <h5>{{cevap.soru14_cevap}}</h5>
            {% endif %}
            <br> 
            {% if cevap.sorular.soru15 %}
             <p>{{cevap.sorular.soru15}}</p>
             <h5>{{cevap.soru15_cevap}}</h5>
            {% endif %}
            <br>  
            {% if cevap.sorular.soru16 %}
             <p>{{cevap.sorular.soru16}}</p>
             <h5>{{cevap.soru16_cevap}}</h5>
            {% endif %}
            <br>  
            {% if cevap.sorular.soru17 %}
             <p>{{cevap.sorular.soru17}}</p>
             <h5>{{cevap.soru17_cevap}}</h5>
            {% endif %}
            <br>  
            {% if cevap.sorular.soru18 %}
             <p>{{cevap.sorular.soru18}}</p>
             <h5>{{cevap.soru18_cevap}}</h5>
            {% endif %}
            <br>  
            {% if cevap.onay1 %}
            <p>{{cevap.sorular.onay1}} <i class="fa-solid fa-check"></i></p>
            {% else %}
            <p>{{cevap.sorular.onay1}} <i class="fa-solid fa-xmark"></i></p>
            {% endif %}
            <br>  
            {% if cevap.onay2 %}
            <p>{{cevap.sorular.onay1}} <i class="fa-solid fa-check"></i></p>
            {% else %}
            <p>{{cevap.sorular.onay1}} <i class="fa-solid fa-xmark"></i></p>
            {% endif %}
            <br> 
            {% if cevap.onay3 %}
            <p>{{cevap.sorular.onay1}} <i class="fa-solid fa-check"></i></p>
            {% else %}
            <p>{{cevap.sorular.onay1}} <i class="fa-solid fa-xmark"></i></p>
            {% endif %}
            <br> 
            {% if cevap.onay4 %}
            <p>{{cevap.sorular.onay1}} <i class="fa-solid fa-check"></i></p>
            {% else %}
            <p>{{cevap.sorular.onay1}} <i class="fa-solid fa-xmark"></i></p>
            {% endif %}
            {{cevap.guncellenme_tarihi }}
            {% endfor %}
          </div>
    </main>



    <aside class="haberler col-2 offset-10  d-none d-lg-block">
      <ul>
          <p class="text-center h5">Haberler</p>
        {% for haber in haberler %}
        <li>
            
            <table>
                <tr>
                    <td>{{haber.baslik}}</td>
                    <td><img src="https://media.istockphoto.com/vectors/newspaper-cover-page-vector-id187925868?k=20&m=187925868&s=612x612&w=0&h=xn8eHpzq2KMomzY5YROMoKSZKxcYWNjGZOw25cUV28Y=" title="haber" alt="haber"></td>
                </tr>
            </table>
        </li>
        {% endfor %}
      </ul>
    </aside>
  </body>

{% endblock content %}
 
