 {% extends 'base/ana.html' %}
 {% block content %}
 <title>Form Ekle | FIFAVA</title>
  </head>
  <body>
     <aside class="side-navbar col-2" >
      <ul class="p-0 text-center">
        <li><a href="{% url 'anasayfa' %}"><p>Anasayfa</p></a></li>
        <li><a href="{% url 'kisiler' %}"><p>Oyuncular</p> </a></li>
        <li>
          <a href="">
          <p>Nasıl Katılabilirim</p> 
        </a>
        </li>
        {% if user.is_superuser %}
          <li>
            <a href="{% url 'haberler' %}">
              <p>Haberler</p> 
            </a>
          </li>
        {% endif %}
          <li>
            <a href="{% url 'formlar' %}">
              <p>Anketler</p> 
            </a>
          </li>
        <li>
        {% if user.is_authenticated %}
        <a href="{% url 'cikis-yap' %}"> <p> Çıkış Yap</p></a>
        {% else %}
        <a href="{% url 'giris-yap' %}"><p>Giriş Yap</p> </a>
        {% endif %}
        </li>
      </ul>
    </aside>
    <!-- <main class="col-10 col-lg-8 offset-2">
    <h4 class="text-center pt-4 pb-5">Kişi Ekle</h4>
    <label class="center">Form Girdi Sayısı <input type="number" class="input mx-1" max="10"> <button class="btn btn-outline-dark mx-1" onclick="olustur()">Oluştur</button></label> -->
    
    <main class="col-8 col-lg-6 offset-3">
      <h5 class="pt-5 pb-5">{{soru.baslik}}</h5>
      <h5>Sorular</h5>
      {% if soru.soru1 %}
      <div class="pb-5 pt-5">{{ soru.soru1 }}</div>
      {% endif %}
      {% if soru.soru2 %}
      <div class="pb-5 pt-5">{{ soru.soru2 }}</div>
      {% endif %}
      {% if soru.soru3 %}
      <div class="pb-5 pt-5">{{ soru.soru3 }}</div>
      {% endif %}
      {% if soru.soru4 %}
      <div class="pb-5 pt-5">{{ soru.soru4 }}</div>
      {% endif %}
      {% if soru.soru5 %}
      <div class="pb-5 pt-5">{{ soru.soru5 }}</div>
      {% endif %}
      {% if soru.soru6 %}
      <div class="pb-5 pt-5">{{ soru.soru6 }}</div>
      {% endif %}
      {% if soru.soru7 %}
      <div class="pb-5 pt-5">{{ soru.soru7 }}</div>
      {% endif %}
      {% if soru.soru8 %}
      <div class="pb-5 pt-5">{{ soru.soru8 }}</div>
      {% endif %}
      {% if soru.soru9 %}
      <div class="pb-5 pt-5">{{ soru.soru9 }}</div>
      {% endif %}
      {% if soru.soru10 %}
      <div class="pt-5">{{ soru.soru10 }}</div>
      {% endif %}
      
    </main>
    
    
  </main>

    <aside class="haberler col-2 offset-10  d-none d-lg-block">
      <ul>
          <p class="text-center h5">Haberler</p>
        {% for haber in haberler %}
        <li>
            
            <table>
                <tr>
                    <td>{{haber.baslik}}</td>
                    <td><img src="https://media.istockphoto.com/vectors/newspaper-cover-page-vector-id187925868?k=20&m=187925868&s=612x612&w=0&h=xn8eHpzq2KMomzY5YROMoKSZKxcYWNjGZOw25cUV28Y=" title="haber" alt="haber"></td>
                </tr>
            </table>
        </li>
        {% endfor %}
      </ul>
    </aside>

    

{% endblock content %}
 
