p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  margin: 0 !important;
  border: 0 !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

p ::-webkit-scrollbar,
h1 ::-webkit-scrollbar,
h2 ::-webkit-scrollbar,
h3 ::-webkit-scrollbar,
h4 ::-webkit-scrollbar,
h5 ::-webkit-scrollbar,
h6 ::-webkit-scrollbar,
label ::-webkit-scrollbar,
span ::-webkit-scrollbar {
  width: 8px;
}

p ::-webkit-scrollbar-track,
h1 ::-webkit-scrollbar-track,
h2 ::-webkit-scrollbar-track,
h3 ::-webkit-scrollbar-track,
h4 ::-webkit-scrollbar-track,
h5 ::-webkit-scrollbar-track,
h6 ::-webkit-scrollbar-track,
label ::-webkit-scrollbar-track,
span ::-webkit-scrollbar-track {
  background: #fff;
}

p ::-webkit-scrollbar-thumb,
h1 ::-webkit-scrollbar-thumb,
h2 ::-webkit-scrollbar-thumb,
h3 ::-webkit-scrollbar-thumb,
h4 ::-webkit-scrollbar-thumb,
h5 ::-webkit-scrollbar-thumb,
h6 ::-webkit-scrollbar-thumb,
label ::-webkit-scrollbar-thumb,
span ::-webkit-scrollbar-thumb {
  background: #bbb;
}

p ::-webkit-scrollbar-thumb:hover,
h1 ::-webkit-scrollbar-thumb:hover,
h2 ::-webkit-scrollbar-thumb:hover,
h3 ::-webkit-scrollbar-thumb:hover,
h4 ::-webkit-scrollbar-thumb:hover,
h5 ::-webkit-scrollbar-thumb:hover,
h6 ::-webkit-scrollbar-thumb:hover,
label ::-webkit-scrollbar-thumb:hover,
span ::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

p::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
label::-moz-selection,
span::-moz-selection {
  color: white;
  background-color: rgba(122, 105, 214, 0.95);
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
label::selection,
span::selection {
  color: white;
  background-color: rgba(122, 105, 214, 0.95);
}

@font-face {
  font-family: "UbuntuMed";
  src: url("../font/med/Ubuntu-Medium.eot");
  src: url("../font/med/Ubuntu-Medium.eot") format("embedded-opentype"), url("../font/med/Ubuntu-Medium.woff2") format("woff2"), url("../font/med/Ubuntu-Medium.woff") format("woff"), url("../font/med/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RalewayBold";
  src: url("../font/bold/Raleway-Bold.eot");
  src: url("../font/bold/Raleway-Bold.eot") format("embedded-opentype"), url("../font/bold/Raleway-Bold.woff2") format("woff2"), url("../font/bold/Raleway-Bold.woff") format("woff"), url("../font/bold/Raleway-Bold.ttf") format("truetype");
}

body .topbar {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  height: 56px;
  background-color: #5642c8;
  color: white;
  -webkit-box-shadow: 2px 2px 20px #373681;
          box-shadow: 2px 2px 20px #373681;
  z-index: 10 !important;
}

body .topbar .topbar-right-parent {
  height: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .topbar .topbar-right-parent .topbar-right {
  position: relative;
  height: 32px;
  border-radius: 30px;
  margin-right: 15px;
  padding: 0;
  padding-left: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #5642c8;
  -webkit-box-shadow: 2px 2px 20px #373681;
          box-shadow: 2px 2px 20px #373681;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

body .topbar .topbar-right-parent .topbar-right:hover {
  background: #5f4ad4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .topbar .topbar-right-parent .profile-hover {
  position: absolute;
  background-color: white;
  top: 32px;
  left: -20px;
  z-index: 999999 !important;
  color: black;
  display: none;
}

body .topbar .topbar-right-parent .profile-hover a {
  color: black;
  text-decoration: none;
}

body .topbar .topbar-profile-img {
  margin-top: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

body .topbar .search {
  background-color: white;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 5px #373681;
          box-shadow: 0px 0px 5px #373681;
  height: 32px;
  outline: 0;
  border: 0;
  padding-left: 14px;
  width: 24vw;
  min-width: 100px;
}

body .topbar .search-div {
  cursor: pointer;
  background-color: #373681;
  -webkit-box-shadow: 2px 1px 15px #373681;
          box-shadow: 2px 1px 15px #373681;
  padding: 7px;
  margin-left: 7px;
  border-radius: 10px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

body .topbar .search-div:hover {
  background-color: #403e91;
  -webkit-box-shadow: 2px 1px 10px #373681;
          box-shadow: 2px 1px 10px #373681;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

body .topbar .links .d-flex div {
  margin-left: 10px;
}

body .topbar .bars-icon {
  cursor: pointer;
}

body .topbar .login-btn {
  padding: 8px 13px;
  border-radius: 0.375rem;
  -webkit-box-shadow: 0 0 4px black;
          box-shadow: 0 0 4px black;
  background-color: #373681;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

body .topbar .login-btn:hover {
  -webkit-box-shadow: 0 0 8px black;
          box-shadow: 0 0 8px black;
  background-color: #4836b3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .topbar .page-completion {
  width: 0px;
  height: 4px;
  background-color: #373681;
}

body .sidebar {
  z-index: 99999 !important;
  position: fixed;
  overflow-y: auto;
  top: 56px;
  width: 100vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#502879), to(#6350c9));
  background: linear-gradient(0deg, #502879 0%, #6350c9 100%);
  height: 100%;
  color: white;
  padding: 24px;
  padding-left: 15%;
}

body .sidebar div {
  margin-top: 60px;
}

body .sidebar h3 {
  color: white !important;
}

body .start {
  z-index: 10 !important;
  width: 100vw;
  height: calc(100vh - 56px);
}

body .start h1 {
  font-family: "RalewayBold";
  z-index: 99999 !important;
}

body .start .div-one {
  height: calc(100vh - 56px);
}

body .start .div-one img {
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 85%;
  min-width: 180px;
}

body .start .trevor-photo {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 8%;
  width: 20vw;
  min-width: 200px;
  height: 100%;
}

body .start .trevor-photo .bubble-2 {
  background-color: #5642c8;
  -webkit-box-shadow: 2px 2px 100px #5642c8;
          box-shadow: 2px 2px 100px #5642c8;
  position: absolute;
  bottom: 10%;
  left: 0%;
  min-width: 200px;
  min-height: 200px;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  z-index: -1;
}

body .btn {
  --bs-btn-focus-box-shadow: 0 0 0 0.25 transparent;
}

body .btn-dark {
  color: white;
  border-radius: 0.375rem;
  padding: 8px 16px;
  background-color: #5642c8 !important;
  border: 0;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 10px #373681;
          box-shadow: 0px 0px 10px #373681;
}

body .btn-dark:hover {
  -webkit-box-shadow: 0px 0px 15px #373681;
          box-shadow: 0px 0px 15px #373681;
  background-color: rgba(81, 66, 167, 0.95) !important;
}

body .btn-dark:focus {
  background-color: red;
  -webkit-box-shadow: 0px 0px 15px #373681;
          box-shadow: 0px 0px 15px #373681;
  background-color: rgba(81, 66, 167, 0.95) !important;
}

body .message {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999999 !important;
  -webkit-box-shadow: 0 0 10px #81e081;
          box-shadow: 0 0 10px #81e081;
  color: white;
}

body .form-control:focus,
body .form-select:focus {
  border-color: #696cff;
}

body .input-group:focus-within .form-control,
body .input-group:focus-within .input-group-text {
  border-color: #696cff;
}

body .form-check-input:focus {
  border-color: #696cff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(105, 108, 255, 0.4);
          box-shadow: 0 2px 4px 0 rgba(105, 108, 255, 0.4);
}

body .form-check-input:disabled {
  background-color: #eceef1;
}

body .form-check-input:checked, body .form-check-input[type=checkbox]:indeterminate {
  background-color: #696cff;
  border-color: #696cff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(105, 108, 255, 0.4);
          box-shadow: 0 2px 4px 0 rgba(105, 108, 255, 0.4);
}

body .custom-option.checked {
  border: 1px solid #696cff;
}

body .form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23696cff'/%3e%3c/svg%3e");
}

body .form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

body .form-control:focus ~ .form-label {
  border-color: #696cff;
}

body .form-control:focus ~ .form-label::after {
  border-color: inherit;
}

body .form-group {
  margin-bottom: 1rem;
}

body .paginator i {
  background-color: #e0e0e0;
  padding: 5px 6px;
  margin: 0 1px;
  border-radius: 50%;
  color: #5642c8;
}

body .to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  color: #5642c8;
  display: none;
  z-index: 9999999 !important;
  cursor: pointer;
}

body .swiper {
  width: 60vw;
  height: 30vw;
  border-radius: .5rem;
}

body .swiper img {
  width: 100%;
  height: 100%;
}

body .kesfet {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .kesfet button {
  border-radius: 1.8rem;
  padding: 15px 35px;
}

body .btn-outline-primary {
  color: #373681;
  border: 1px solid #373681;
}

body .btn-outline-primary:hover {
  color: white;
}

body .separator {
  background-color: #4836b3;
  width: 10%;
  border-radius: 5px;
  height: 5px;
}

body .div-one-right {
  position: absolute;
  right: 30px;
  top: 28%;
  width: 59%;
}

@media only screen and (max-width: 700px) {
  body .div-one-right {
    position: absolute;
    right: 30px;
    top: 5%;
    width: 79%;
  }
  body .bize-katil {
    min-height: 40px;
    position: absolute;
    right: 40px;
  }
  body .separator {
    width: 20%;
  }
}

@media only screen and (max-width: 420px) {
  body .div-one-right {
    position: absolute;
    right: 30px;
    top: 5%;
    width: 79%;
  }
  body .div-one-right h3 {
    font-size: 1.2rem;
  }
  body .div-one-right h4 {
    font-size: 0.9rem;
  }
  body .bize-katil {
    min-height: 0;
    position: absolute;
    right: 40px;
  }
  body .separator {
    width: 20%;
  }
}
/*# sourceMappingURL=main-style.css.map */