* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .nav-item {
  cursor: pointer;
}

* .btn-outline-dark {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #817952;
  border: 1px solid #887f52;
}

* .btn-outline-dark:hover, * .btn-outline-dark:checked {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #44433b;
  border: 1px solid #887f52;
}

* .btn-outline-dark:focus {
  outline: 4px solid #44433b;
  border: 1px solid #44433b;
  background-color: #817952;
  color: white;
}

* h4,
* h5,
* h6 {
  font-weight: 300;
}

body {
  overflow-x: hidden;
}

body aside {
  background: linear-gradient(177deg, #817952 0%, #615b3d 100%);
  font-size: 15px;
}

body .home {
  background-size: 100vw 100%;
}

body .home .side-navbar {
  border-right: 2px solid whitesmoke;
}

body .home .haberler {
  border-left: 2px solid whitesmoke;
}

body .home aside {
  border: 0;
  position: fixed;
  height: 100%;
  background: linear-gradient(356deg, rgba(62, 62, 62, 0.30576) 0%, rgba(90, 90, 90, 0.30576) 100%);
}

body .full-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 36;
}

body .truck {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 34;
}

body .bottom-dag {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 51;
  -webkit-animation-name: ground_animation1;
          animation-name: ground_animation1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .ground,
body .top-1 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 32;
}

body .house {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 34;
}

body .kesfet-svg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-top: 99.6vh;
  z-index: 34;
  margin-left: -0.1vw;
}

body .kesfet-svg-1 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-top: 99.77vh;
  z-index: 35;
  margin-left: -0.1vw;
}

body .loading {
  height: 100vh;
  width: 100vw;
  background-color: rgba(78, 78, 78, 0.25);
  z-index: 100;
  position: fixed;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

body .loading h3 {
  text-align: center;
  margin-top: 4vw;
  margin-bottom: 4vw;
  color: white;
}

body .loading img {
  width: 20vw;
  min-width: 150px;
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

body .responsive-text {
  font-size: 22px;
}

body .wrapper {
  /*This part is important for centering*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .typing-demo {
  width: 6ch;
  -webkit-animation: typing 2s steps(6), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(6), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  font-size: 1.1em;
}

body .cursor {
  position: fixed;
  height: 24px;
  width: 24px;
  top: -50px;
  left: -50px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid black;
  z-index: 101;
  pointer-events: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-property: backgorund, -webkit-transform;
  transition-property: backgorund, -webkit-transform;
  transition-property: backgorund, transform;
  transition-property: backgorund, transform, -webkit-transform;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .cursor-pointer {
  width: 4px;
  height: 4px;
  margin-top: 50%;
  margin-left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 2px;
  z-index: 110;
}

body .backgroundWhite {
  background: rgba(204, 204, 204, 0.25);
  border: 2px solid black;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .backgroundBlack {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .backgroundImg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .cursorClick {
  -webkit-animation: click 0.6s ease;
          animation: click 0.6s ease;
}

body .cursorPointerNone {
  display: none;
}

.side-navbar {
  border-right: 2px solid black;
  z-index: 100;
  left: 0;
  position: fixed;
  height: 100vh;
}

.side-navbar ul {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.side-navbar ul li a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}

.side-navbar ul li a img {
  -webkit-transition: 1s;
  transition: 1s;
}

.side-navbar ul li a i,
.side-navbar ul li a svg {
  -webkit-transition: 1s;
  transition: 1s;
}

.side-navbar ul li a:hover i,
.side-navbar ul li a:hover img,
.side-navbar ul li a:hover svg {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  -webkit-transition: 1s;
  transition: 1s;
}

main .one-container {
  background-image: url("../images/background2.jpg");
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

main .kesfet-sayfa {
  min-height: 100vh;
  width: 100vw;
  background-image: url("../images/background.jpg");
  background-size: 100vw 100%;
}

main .iletisim-sayfa {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background-image: url("../images/iletisim.png");
  background-size: 100vw 100%;
}

main .iletisim-sayfa .form-control:focus {
  background-color: rgba(143, 143, 143, 0.25);
}

main .iletisim-sayfa h4 {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  font-size: 24px;
}

main .iletisim-sayfa h4:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

main .iletisim-sayfa a {
  color: white;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

main .iletisim-sayfa a:hover {
  color: #d897ad;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

main .iletisim-sayfa a i {
  cursor: pointer;
  color: #d897ad;
}

main .iletisim-sayfa a i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: #afafaf;
}

main .iletisim-sayfa input {
  background-color: rgba(128, 128, 128, 0.25);
}

main .iletisim-sayfa .form-control {
  color: white;
}

main .iletisim-sayfa textarea {
  background-color: rgba(78, 78, 78, 0.25);
}

main .iletisim-cevaplari {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/cevaplama.jpg");
  background-size: 100vw 100%;
}

main .iletisim-cevaplari table {
  background-color: rgba(78, 78, 78, 0.25);
}

main .iletisim-cevaplari table tr,
main .iletisim-cevaplari table th,
main .iletisim-cevaplari table td {
  color: white;
}

main .iletisim-cevaplari table tbody tr > td {
  color: white;
}

main .iletisim-cevaplara-cevaplari {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/iletisim-cevap-cevap.jpg");
  background-size: 100vw 100%;
}

main .iletisim-cevaplara-cevaplari table {
  background-color: rgba(87, 87, 87, 0.25);
}

main .iletisim-cevaplara-cevaplari table tr,
main .iletisim-cevaplara-cevaplari table th,
main .iletisim-cevaplara-cevaplari table td {
  color: white;
}

main .iletisim-cevaplara-cevaplari table tbody tr > td {
  color: white;
}

main .home-main {
  height: 200vh;
}

main .gonderdikleriniz {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/gonderdikleriniz.jpg");
  background-size: cover;
}

main #particles-js {
  height: 100vh;
}

main #particles-js #fifava {
  position: absolute;
  margin-top: 22vh;
  height: 16vh;
  margin-left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main #particles-js #fifava1 {
  position: absolute;
  margin-top: 22vh;
  width: 19vw;
  margin-left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main #particles-js #kesfet {
  position: absolute;
  margin-top: 80vh;
  width: 10vw;
  min-width: 90px;
  margin-left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.125rem;
  border-radius: 100px;
  background-color: rgba(32, 32, 32, 0.149);
}

main #particles-js #kesfet:hover {
  background-color: rgba(78, 78, 78, 0.25);
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main table a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main table a:hover {
  color: #424242;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main p a i {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main p a:hover i {
  color: #726c35;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main form img {
  min-width: 100px;
  width: 25vw;
}

main .main-center {
  margin-left: 41.67%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .center {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .submit {
  margin-left: 48%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: translateY();
          transform: translateY();
}

main .tab-pane {
  height: 70vh;
}

main .setting-bar {
  color: #726c35;
  border: 1px solid #726c35;
  border-bottom: transparent;
}

main .setting-bar:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #817952;
  border: 1px solid #77771f;
  color: white;
}

main .setting-bar:focus {
  outline: 4px solid rgba(163, 147, 0, 0.5);
  border: 1px solid #77771f;
  background-color: #817952;
  color: white;
}

main .setting-bar.active {
  border: 1px solid #77771f;
  background-color: #817952;
  color: white;
}

main .nasil-katilabilirim {
  -webkit-animation-name: sidenavbarhiddentitle;
          animation-name: sidenavbarhiddentitle;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

main .profil-background {
  height: 25vh;
  width: 83.34vw;
  position: relative;
  z-index: 1;
}

main .profil-background img {
  position: relative;
  z-index: 0;
  margin-top: 0;
}

main .profil-rest {
  position: relative;
  z-index: 3;
  border-top: 2px solid black;
  background-color: white;
}

main .profil-foto {
  position: relative;
  width: 10.5vw;
  height: 22vh;
  margin-left: 7vw;
  top: -10vh;
  border-radius: 49%;
  border: 2px solid black;
}

main .biyografi .profil-biyografi {
  position: relative;
  top: -12vh;
  left: -2vw;
}

main .biyografi .profil-katilma {
  position: relative;
  top: -11vh;
  left: 5vw;
}

main .biyografi .top {
  position: relative;
  top: -18vh;
}

main .biyografi .profil-edit {
  position: absolute;
  right: 34px;
  top: 4px;
}

main .reply-to-comment {
  display: none;
}

main .visible {
  display: block;
}

main .profil-foto-buyuk {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(114, 108, 53, 0.5);
}

main .profil-foto-buyuk img {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: none;
}

main .profil-foto-buyuk .profil-foto-kapa {
  z-index: 100;
  position: absolute;
  left: 2vw;
  top: 2vh;
}

main .profil-foto-buyuk .profil-foto-kapa-1 {
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

main .arkaplan-foto-buyuk {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(114, 108, 53, 0.5);
}

main .arkaplan-foto-buyuk img {
  z-index: 100;
  margin-top: 20vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: none;
}

main .arkaplan-foto-buyuk .arkaplan-foto-kapa {
  z-index: 100;
  position: absolute;
  left: 2vw;
  top: 2vh;
}

main .arkaplan-foto-buyuk .arkaplan-foto-kapa-1 {
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

main .fa-reply {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .fa-reply:active, main .fa-reply:focus, main .fa-reply:visited, main .fa-reply:hover, main .fa-reply::after {
  color: black;
}

main .kisi-detay-foto {
  height: 70vh;
  border: 3px solid #373681;
  border-radius: 0.5rem;
}

main .haber-img {
  width: 50vw;
  border: 4px solid #726c35;
  -webkit-animation-name: haber_border_animation;
          animation-name: haber_border_animation;
  border-radius: 7px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

main .cevaplama-parent {
  position: fixed;
  height: 100vh;
  z-index: 10;
  width: 82.9vw;
  overflow-y: auto;
  top: 0;
  background-color: rgba(98, 145, 199, 0.486);
}

main .cevaplama-parent .cevaplama {
  margin-top: 3vh;
  z-index: 11;
  background-color: whitesmoke;
  border-radius: 12px;
}

main .mesajiniz-olustu {
  position: fixed;
  top: 80vh;
  left: 0;
  border: 5px solid #272727;
}

main .cevapla_kapa_parent {
  width: 31px;
  height: 25px;
  border-radius: 30px;
}

main .cevapla_kapa_parent:hover {
  background-color: rgba(114, 102, 35, 0.288);
}

main .gorenler {
  background-color: white;
  overflow-y: scroll;
  margin-top: 20vh;
  height: 60vh;
}

main .gorenler-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 11;
  background-color: rgba(98, 145, 199, 0.336);
}

main .kisiler-foto {
  width: 13.2vw;
  margin-left: 9px;
  height: 260px;
  margin-top: -200px;
  border: 2px solid #726c35;
}

main .card-img-top-1 {
  width: 40%;
  margin-left: 30%;
}

main .great-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

main .forumlar_1 {
  border-radius: 15px;
  background-color: #f6f6f6;
  z-index: 10;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: 2px 20px 14px -8px #e8e8e8;
          box-shadow: 2px 20px 14px -8px #e8e8e8;
}

main .forumlar_1:hover {
  background-color: #ececec;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

main .takip-ediliyor:hover {
  background-color: rgba(82, 44, 44, 0.438);
  color: #9c1818;
  border: 1px solid #832525;
}

main .takip-parent {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  background-color: rgba(98, 145, 199, 0.336);
  z-index: 100;
}

main .takip_eminmisin {
  position: fixed;
  border-radius: 8px;
  height: 45vh;
  background-color: whitesmoke;
  border: 2px solid gray;
  z-index: 115;
  margin-top: 23vh;
}

main .takipciler-1 {
  overflow-y: auto;
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  background-color: rgba(98, 145, 199, 0.336);
  z-index: 100;
}

main .takipciler-1-1 {
  overflow-y: auto;
  position: fixed;
  border-radius: 8px;
  height: 60vh;
  background-color: whitesmoke;
  border: 2px solid gray;
  z-index: 115;
  margin-top: 20vh;
}

main .takip-edilenler-1 {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  background-color: rgba(98, 145, 199, 0.336);
  z-index: 100;
}

main .takip-edilenler-1-1 {
  overflow-y: auto;
  position: fixed;
  border-radius: 8px;
  background-color: whitesmoke;
  border: 2px solid gray;
  height: 60vh;
  z-index: 115;
  margin-top: 20vh;
}

main .takip-edemezsiniz {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(98, 145, 199, 0.336);
  z-index: 100;
}

main .takip-edemezsiniz-1 {
  position: fixed;
  border-radius: 8px;
  height: 45vh;
  background-color: whitesmoke;
  border: 2px solid gray;
  z-index: 115;
  margin-top: 20vh;
}

main b {
  color: #6b6b21;
  font-weight: 600;
}

main .terimler-text {
  font-size: 24px;
}

main .fade-1 {
  -webkit-animation: fade 0.6s ease;
          animation: fade 0.6s ease;
}

main .dot {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .dot:hover {
  color: darkred;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .forumlar_2 {
  border-radius: 10px;
  -webkit-box-shadow: 3px 11px 18px 0px #d4d4d4;
          box-shadow: 3px 11px 18px 0px #d4d4d4;
  background-color: #f6f6f6;
}

main .bilgiler-div {
  display: -ms-grid;
  display: grid;
  background-color: #f0f0f0;
  border: 2px solid black;
  border-radius: 8px;
  place-items: center;
  -webkit-box-shadow: 2px 20px 14px -8px #e8e8e8;
          box-shadow: 2px 20px 14px -8px #e8e8e8;
}

main .balons {
  position: absolute;
  top: 100px;
  width: 80vw;
  z-index: 1;
}

main .balons svg {
  width: 75vw;
}

main .yapraks {
  position: absolute;
  top: 100px;
  width: 75vw;
  z-index: 1;
}

main .yapraks svg {
  width: 75vw;
}

main .man {
  margin-left: 72vw;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
  position: absolute;
  z-index: 2;
  bottom: 10vh;
}

main .man svg {
  width: 37vw;
}

main .woman {
  margin-left: -20vw;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
  position: absolute;
  z-index: 5;
}

main .woman svg {
  width: 32vw;
}

main .main-svg {
  position: absolute;
  width: 100vw;
}

main .main-svg svg {
  width: 100%;
}

.haberler {
  border-left: 2px solid black;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  color: white;
}

.haberler img {
  border: 2px inset #3a3a38;
}

.haberler p {
  font-size: 22px;
}

.haberler ul {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}

.haberler ul li {
  border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.haberler ul li tr td img {
  margin-left: 0.665vw;
  width: 7vw;
  height: 12vh;
  min-width: 40px;
  border-radius: 6px;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes sidenavbarhiddentitle {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
}

@keyframes sidenavbarhiddentitle {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
}

@-webkit-keyframes h-right {
  from {
    right: -474px;
  }
  to {
    right: 0;
  }
}

@keyframes h-right {
  from {
    right: -474px;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes s-left {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes s-left {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

@-webkit-keyframes message {
  0% {
    position: absolute;
    top: -100px;
  }
  50% {
    position: absolute;
    top: 40px;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    position: absolute;
    top: -100px;
  }
}

@keyframes message {
  0% {
    position: absolute;
    top: -100px;
  }
  50% {
    position: absolute;
    top: 40px;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    position: absolute;
    top: -100px;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes profil_foto_animation {
  0% {
    -webkit-box-shadow: 2px 2px 20px 3px gray;
            box-shadow: 2px 2px 20px 3px gray;
  }
  25% {
    -webkit-box-shadow: 2px 2px 30px 4px #828282;
            box-shadow: 2px 2px 30px 4px #828282;
  }
  50% {
    -webkit-box-shadow: 2px 2px 25px 5px #8c8c8c;
            box-shadow: 2px 2px 25px 5px #8c8c8c;
  }
  75% {
    -webkit-box-shadow: 2px 2px 30px 4px #868686;
            box-shadow: 2px 2px 30px 4px #868686;
  }
  100% {
    -webkit-box-shadow: 2px 2px 20px 3px gray;
            box-shadow: 2px 2px 20px 3px gray;
  }
}

@keyframes profil_foto_animation {
  0% {
    -webkit-box-shadow: 2px 2px 20px 3px gray;
            box-shadow: 2px 2px 20px 3px gray;
  }
  25% {
    -webkit-box-shadow: 2px 2px 30px 4px #828282;
            box-shadow: 2px 2px 30px 4px #828282;
  }
  50% {
    -webkit-box-shadow: 2px 2px 25px 5px #8c8c8c;
            box-shadow: 2px 2px 25px 5px #8c8c8c;
  }
  75% {
    -webkit-box-shadow: 2px 2px 30px 4px #868686;
            box-shadow: 2px 2px 30px 4px #868686;
  }
  100% {
    -webkit-box-shadow: 2px 2px 20px 3px gray;
            box-shadow: 2px 2px 20px 3px gray;
  }
}

@-webkit-keyframes haber_border_animation {
  0% {
    border: 4px solid #726c35;
    border-right: 4px solid #474715;
  }
  30% {
    border: 4px solid #726c35;
    border-bottom: 4px solid #474715;
  }
  50% {
    border: 4px solid #726c35;
    border-left: 4px solid #474715;
  }
  70% {
    border: 4px solid #726c35;
    border-top: 4px solid #474715;
  }
  100% {
    border: 4px solid #726c35;
    border-right: 4px solid #474715;
  }
}

@keyframes haber_border_animation {
  0% {
    border: 4px solid #726c35;
    border-right: 4px solid #474715;
  }
  30% {
    border: 4px solid #726c35;
    border-bottom: 4px solid #474715;
  }
  50% {
    border: 4px solid #726c35;
    border-left: 4px solid #474715;
  }
  70% {
    border: 4px solid #726c35;
    border-top: 4px solid #474715;
  }
  100% {
    border: 4px solid #726c35;
    border-right: 4px solid #474715;
  }
}

@-webkit-keyframes ground_animation1 {
  0% {
    background: rgba(192, 181, 86, 0.25);
  }
  30% {
    background: rgba(192, 158, 45, 0.25);
  }
  50% {
    background: rgba(167, 140, 53, 0.363);
  }
  70% {
    background: rgba(192, 158, 45, 0.25);
  }
  100% {
    background: rgba(192, 181, 86, 0.25);
  }
}

@keyframes ground_animation1 {
  0% {
    background: rgba(192, 181, 86, 0.25);
  }
  30% {
    background: rgba(192, 158, 45, 0.25);
  }
  50% {
    background: rgba(167, 140, 53, 0.363);
  }
  70% {
    background: rgba(192, 158, 45, 0.25);
  }
  100% {
    background: rgba(192, 181, 86, 0.25);
  }
}

@-webkit-keyframes click {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    background-color: rgba(194, 194, 194, 0.459);
  }
  100% {
  }
}

@keyframes click {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    background-color: rgba(194, 194, 194, 0.459);
  }
  100% {
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 1366px) {
  .side-navbar ul {
    list-style: none;
  }
  .side-navbar ul li {
    list-style: none;
  }
  .side-navbar ul li a {
    font-size: 13px;
    text-align: center;
  }
  .terimler-text {
    font-size: 20px;
  }
  #fifava {
    height: 13vh;
  }
  #fifava1 {
    margin-top: 22vh;
    width: 21vw;
  }
  .responsive-text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 988px) {
  main .terimler-text {
    font-size: 18px;
  }
  main #particles-js #fifava {
    height: 15vh;
  }
  main #particles-js #fifava1 {
    width: 30vw;
  }
  main #particles-js #kesfet {
    position: absolute;
    margin-top: 80vh;
    width: 10vw;
    min-width: 90px;
    margin-left: 48.835vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 1.125rem;
  }
  main #particles-js #kesfet:hover {
    background-color: rgba(78, 78, 78, 0.25);
    color: white;
  }
  main .profil-background {
    width: 91.67vw;
  }
  main .kisi-detay-foto {
    height: 35vh;
    border: 3px solid #373681;
  }
  main .cevaplama-parent {
    width: 91.24vw;
  }
  main .kisiler-foto {
    width: 140px;
    height: 220px;
    margin-top: -205px;
    border: 2px solid #726c35;
  }
  .side-navbar svg {
    width: 18px;
    height: 18px;
  }
  .responsive-text {
    font-size: 15px;
  }
}

@media only screen and (max-width: 650px) {
  .side-navbar ul li a {
    font-size: 17px;
  }
  .side-navbar svg {
    width: 22px;
    height: 22px;
  }
  .kesfet-svg,
  .kesfet-svg-1 {
    display: none;
  }
  .side-navbar {
    border-right: 1px solid black;
  }
  .haberler {
    border-left: 1px solid black;
  }
  main #particles-js #fifava {
    height: 11vh;
  }
  main #particles-js #fifava1 {
    margin-top: 22vh;
    width: 48vw;
  }
  main .biyografi .profil-username {
    font-size: 17px;
  }
  main .biyografi .profil-biyografi {
    font-size: 15px;
  }
  main .profil-foto {
    width: 19vw;
    height: 13vh;
    top: -5vh;
    left: -3vw;
  }
  main .haber-img {
    width: 75vw;
    height: 50vh;
    border: 4px solid #726c35;
    border-right: 3px solid red;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  main .top {
    margin-top: 8vh;
  }
  main .biyografi .profil-biyografi {
    position: relative;
    top: -14vh;
    left: -2vw;
  }
  main .biyografi .profil-katilma {
    position: relative;
    top: -30vh;
  }
  main .forum-olusturmamis {
    font-size: 14px;
  }
  main .iletisim-sayfa h4 {
    font-size: 18px;
  }
  main .one-container {
    background-image: url("../images/fifavoxphone.jpg");
    background-size: 100vw 100vh;
  }
  main .kesfet-sayfa {
    min-height: 100vh;
    width: 100vw;
    background-image: url("../images/fifavoxphone2.jpg");
    background-size: 100vw 100%;
  }
  main .iletisim-sayfa {
    background-image: url("../images/iletisimphone.jpg");
  }
  main aside .iletisim-cevaplari {
    background-image: url("../images/phonecevaplama.jpg");
  }
  main .iletisim-cevaplara-cevaplari {
    background-image: url("../images/telefon-cevap-cevap.jpg");
  }
  main .medya-adresleri {
    background-image: url("../images/medya-adresleri-phone.jpg");
  }
  main .profil-edit {
    margin-left: 38vw;
  }
  main .profil-edit-1 {
    margin-left: -20px;
    font-size: 13px;
  }
  main .card-img-top-1 {
    width: 70%;
    margin-left: 15%;
  }
  body {
    overflow-x: hidden;
  }
  body aside {
    font-size: 15px;
  }
  body .responsive-text {
    font-size: 14px;
  }
  body .ground,
  body .truck,
  body .house,
  body .kesfet-svg,
  body .top-1,
  body .full-background,
  body .bottom-dag {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  * .cursor-pointer {
    display: none;
    visibility: hidden;
  }
  * .cursor {
    visibility: hidden;
    display: none;
  }
  body .cursor-pointer {
    display: none;
  }
  body .cursor {
    display: none;
  }
  #particles-js #fifava {
    width: 65vw;
  }
  .side-navbar ul li a {
    font-size: 14px;
  }
  main .terimler-text {
    font-size: 24px;
  }
  main .terimler-text-1 {
    margin-top: -40px;
  }
  main .terimler-text-2 {
    margin-top: 120px;
  }
  main .one-container {
    background-image: url("../images/fifavoxphone.jpg");
    background-size: 100vw 100vh;
  }
  main form img {
    width: 50vw;
  }
  main .kesfet-sayfa {
    min-height: 100vh;
    width: 100vw;
    background-image: url("../images/fifavoxphone2.jpg");
    background-size: 100vw 100%;
  }
  main .iletisim-sayfa {
    background-image: url("../images/iletisimphone.jpg");
  }
  main .iletisim-cevaplari {
    background-image: url("../images/phonecevaplama.jpg");
  }
  main .iletisim-cevaplara-cevaplari {
    background-image: url("../images/telefon-cevap-cevap.jpg");
  }
  main .medya-adresleri {
    background-image: url("../images/medya-adresleri-phone.jpg");
  }
  main .profil-edit {
    margin-left: 38vw;
  }
  main .profil-edit-1 {
    margin-left: -30px;
    font-size: 9px;
  }
}

@media only screen and (max-width: 385px) {
  .side-navbar ul li a {
    font-size: 11px;
  }
  .side-navbar svg {
    width: 14px;
    height: 14px;
  }
  main #particles-js #fifava {
    height: 10vh;
  }
  main .forum-olusturmamis {
    font-size: 11px;
  }
  main .iletisim-sayfa h4 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 350px) {
  main #particles-js #fifava {
    height: 6vh;
  }
  main .cevaplandi {
    font-size: 12px;
  }
}

@media only screen and (max-width: 200px) {
  .side-navbar ul li a {
    font-size: 7px;
  }
}
/*# sourceMappingURL=style.css.map */