{% extends 'base/ana.html' %} {% load static %} {% block title %}Haber Sil |
FIFAVOX{% endblock %} {% block content %}

<div class="container-fluid mt-5">
  <div class="bg-light shadow-lg rounded-3 p-4 mt-5">
    <form method="post">
    {% csrf_token %}
    <h3 class="text-center pt-5 pb-4" style="font-weight: 300">
      '{{haber.baslik}}' başlıklı haberi silmek istediğinize emin misiniz?
    </h3>
    <div class="d-flex justify-content-evenly list-unstyled mt-4">
      <div><a href="{% url 'haberler' %}" class="btn btn-success">Vazgeç</a></div>
      <div><input type="submit" value="Sil" class="btn btn-danger" /></div>
    </div>
    </form>
  </div>
</div>

{% endblock content %} {% block script %}
<script>
  $(".haberler-1").addClass("active-color");
  $(".haberler-icon").addClass("active-color");
  let foto = document.getElementsByClassName("{{haber.id}}");
  foto[0].style.border = "1px outset white";
</script>
{% endblock %}
