 {% extends 'base/ana.html' %} {% load static %} {% block content %}
    <meta property="og:title" content="FIFAFOX | Haber Ekle" />
<meta property="og:image" content="https://fifavox-s3-buckets-1.s3.amazonaws.com/images/meta_tags.png" />
<meta property="og:description" content="Fifavox'a katılın, dünyamızı keşfedin ve eğlenin." />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="FIFAFOX | Haber Ekle" />
<meta property="twitter:image" content="https://fifavox-s3-buckets-1.s3.amazonaws.com/images/meta_tags.png" />
<meta property="twitter:description" content="Fifavox'a katılın, dünyamızı keşfedin ve eğlenin." />
{% block title %}Haber Ekle | FIFAVOX{% endblock %}
</head>

<body><!--<div class="cursor"><div class="cursor-pointer"></div></div>-->
   

    <main class="col-11 col-lg-10 offset-1 pt-5">
        {% for message in messages %}
        <div class="message col-10 col-md-6 col-lg-4 text-center" style="z-index: 100;">{{message}}</div>
        {% endfor %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-10 col-sm-8 offset-1 offset-sm-2">
                <h4 class="text-center pb-5">Haber Ekle</h4>
                <span>Başlık</span>
                <ul class="list-unstyled d-grid col-12 center mb-5">
                    <li>{{form.baslik}}</li>
                    <li style="position: relative;margin-left: 100%;margin-top: -40px;">
                        <span data-toggle="popover" title="Kurallar" class="profil-username" data-html="true">
                        <i class="fa-solid fa-info p-3 fa-sm"></i>
                    </span>
                    </li>
                </ul>
                <span>Açıklama</span>
                <ul class="list-unstyled d-grid col-12 center mb-5">
                    <li>{{form.aciklama}}</li>
                    <li style="position: relative;margin-left: 100%;margin-top: -40px;">
                        <span data-toggle="popover1" title="Kurallar" class="profil-username" data-html="true">
                        <i class="fa-solid fa-info p-3 fa-sm"></i>
                    </span>
                    </li>
                </ul>
                <label for="file">Dosya</label>
                <ul class="list-unstyled d-grid col-12 center mb-5">
                    <li><input type="file" id="file" name="file" class="form-control" /></li>
                    <li style="position: relative;margin-left: 100%;margin-top: -40px;">
                        <span data-toggle="popover2" title="Kurallar" class="profil-username" data-html="true">
                        <i class="fa-solid fa-info p-3 fa-sm"></i>
                    </span>
                    </li>
                </ul>

                <input type="submit" value="Ekle" class="btn btn-outline-dark center mt-4">
            </div>
        </form>
    </main>



    
    <script defer>
        $(document).ready(function() {
            $('[data-toggle="popover"').popover({
                content: `● Maksimum uzunluk 100 karakterdir.`,
                animation: true,
                placement: "right",
                trigger: 'hover',
                html: true
            });
        });

        $(document).ready(function() {
            $('[data-toggle="popover1"').popover({
                content: `● Maksimum uzunluk 5000 karakterdir.`,
                animation: true,
                trigger: 'hover',
                placement: "right",
            });
        });

        $(document).ready(function() {
            $('[data-toggle="popover2"').popover({
                content: `● Kabul edilen dosya türleri jpg ve png dir.`,
                animation: true,
                trigger: 'hover',
                placement: "right",
            });
        });
    </script>
</body>

</html>
{% endblock content %}