 {% extends 'base/ana.html' %} {% load static %} {% block content %}
    <meta property="og:title" content="FIFAFOX | Haber Sil" />
<meta property="og:image" content="https://fifavox-s3-buckets-1.s3.amazonaws.com/images/meta_tags.png" />
<meta property="og:description" content="Fifavox'a katılın, dünyamızı keşfedin ve eğlenin." />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="FIFAFOX | Haber Sil" />
<meta property="twitter:image" content="https://fifavox-s3-buckets-1.s3.amazonaws.com/images/meta_tags.png" />
<meta property="twitter:description" content="Fifavox'a katılın, dünyamızı keşfedin ve eğlenin." />
{% block title %}Haber Sil | FIFAVOX{% endblock %}
</head>

<body><!--<div class="cursor"><div class="cursor-pointer"></div></div>-->
    
    <main class="col-11 col-lg-10 offset-1">
        <form method="post">
            {% csrf_token %}
            <h3 class="text-center pt-5 pb-4" style="font-weight: 300;">'{{haber.baslik}}' başlıklı haberi silmek istediğinize emin misiniz?</h3>
            <ul class="d-flex justify-content-evenly list-unstyled col-8 offset-2">
                <li><a href="{% url 'haberler' %}" class="btn btn-outline-dark">Vazgeç</a></li>
                <li><input type="submit" value="Sil" class="btn btn-outline-dark"></li>
            </ul>
        </form>
    </main>
   
          <script defer>
        


       
    </script>
    {% endblock content %}