 {% extends 'base/ana.html' %} {% load static %} {% block content %}
{% block title %}Nasıl Katilabilirim | FIFAVOX{% endblock %}
 <meta property="og:title" content="FIFAFOX | Nasıl Katilabilirim" />
<meta property="og:image" content="https://fifavox-s3-buckets-1.s3.amazonaws.com/images/meta_tags.png" />
<meta property="og:description" content="Fifavox'a katılın, dünyamızı keşfedin ve eğlenin." />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="FIFAFOX | Nasıl Katilabilirim" />
<meta property="twitter:image" content="https://fifavox-s3-buckets-1.s3.amazonaws.com/images/meta_tags.png" />
<meta property="twitter:description" content="Fifavox'a katılın, dünyamızı keşfedin ve eğlenin." />
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body><!--<div class="cursor"><div class="cursor-pointer"></div></div>-->
   

    <main class="col-11 col-lg-10 offset-1">
        <div class="nasil-katilabilirim col-9 col-md-8 offset-1 offset-md-2">

        <h4 class="text-center pb-4 pt-5"><font color="#77771f" >FIFAVOX RolePlay FiveM sunucusunda oynamak için gerekli koşullar</font></h4> 
        <p><font color="#77771f" size=3>1-) </font> Kayıt başvurusunda bulunabilmek için en az 50 saat FiveM geçmişiniz olmalı.</p>

        <p><font size=3 color="#77771f">2-)</font> Yaşınız en az 16 ve üzeri olmalı.</p>

        <p><font size=3 color="#77771f">3-)</font> FIFAVOX RolePlay sunucusunun "HARD" RolePlay olduğu bilinerek kayıt işlemi gerçekleştirilmeli.</p>


        <h4 class="pt-4 pb-4">FIFAVOX RolePlay FiveM sunucusu kayıt aşamaları:</h4> 
        <p><font size=3 color="#77771f">1-)</font> <a href="{% url 'anasayfa' %}" class="text-dark" >fifavox.com</a> sitesi üzerinden <a href="{%url 'kayit-ol'%}" class="text-dark" >hesap oluşturun</a>.</p> 

        <p><font size=3 color="#77771f">2-)</font> <a href="{% url 'formlar' %}" class="text-dark" >fifavox.com/formlar</a> kısmından <a href="/form-cevapla/2/" class="text-dark">FIFAVOX RolePlay Başvuru Formunu</a> eksiksiz bir biçimde doldurun.</p> 
        
        <p><font size=3 color="#77771f">3-)</font> Bu iki işlemin ardından <a href="https://discord.gg/8yn76ANa9n" class="text-dark" target="_blank">https://discord.gg/8yn76ANa9n</a> adresinden FIFAVOX RolePlay Ön Kayıt Discord sunucusuna katılın.</p> 
        
        <p><font size=3 color="#77771f">4-)</font> 5 dakikanın ardından Hoşgeldin rolünüz Kayıt Bekleyen rolüyle değişecek.</p> 
        
        <p><font size=3 color="#77771f">5-)</font> Rolünüzü aldıktan sonra Kayıt Bekleme odalarından birine girip yetkililer ile internet sitesindeki bilgileri teyit edin.</p> 
        
        <p><font size=3 color="#77771f">6-)</font> Ek olarak birkaç soru daha sorulduktan sonra yetkili onay durumunuza karar verecek.</p> 
        
        <p><font size=3 color="#77771f">7-)</font> Onaylandıktan sonra yetkili tarafından size ana Discord sunucusunun linki verilecek.</p> 
        
        <p><font size=3 color="#77771f">8-)</font> Son olarak <a href="{% url 'anasayfa' %}" class="text-dark" >fifavox.com</a> web sitesinde onayınızı alacaksınız.</p> 
        
        <p><font size=3 color="#77771f">9-)</font> Onay durumunuzu kontrol etmek için  <a href="{% url 'anasayfa' %}" class="text-dark" >fifavox.com</a> sitesinde hesabınıza giriş yaptıktan sonra sol üst tarafta bulunan maymun simgesine basın.</p> 
        
        <p><font size=3 color="#77771f">10-)</font> Onaylandınız yazısını görüyorsanız tebrikler artık FIFAVOX RolePlay sunucusunun onaylı bir oyuncususunuz.</p> 
        
        <p class="pb-4">Keyifli Roller...</p>
        </div>
    </main>

    

    <script defer>
        


   
</script>
</body>
</html>
    {% endblock content %}