 {% extends 'base/ana.html' %} {% load static %} 
 {% block title %}Nasıl Katılabilirim | FIFAVOX{% endblock %}
 {% block content %}
    <main class="col-11 col-lg-10 offset-1">
        <div class="nasil-katilabilirim col-9 col-md-8 offset-1 offset-md-2">

        <h4 class="text-center pb-4 pt-5"><font color="#444" >FIFAVOX RolePlay FiveM sunucusunda oynamak için gerekli koşullar</font></h4> 
        <p><font color="#444" size=3>1-) </font> Kayıt başvurusunda bulunabilmek için en az 100 saat FiveM geçmişiniz olmalı.</p>

        <p><font size=3 color="#444">2-)</font> Yaşınız en az 17 ve üzeri olmalı.</p>

        <p><font size=3 color="#444">3-)</font> FIFAVOX RolePlay sunucusunun "HARD" RolePlay olduğu bilinerek kayıt işlemi gerçekleştirilmeli.</p>


        <h4 class="pt-4 pb-4">FIFAVOX RolePlay FiveM sunucusu kayıt aşamaları:</h4> 
        <p><font size=3 color="#444">1-)</font> <a href="{% url 'anasayfa' %}" class="text-dark" >fifavox.com</a> sitesi üzerinden <a href="{%url 'kayit-ol'%}" class="text-dark" >hesap oluşturun</a>.</p> 

        <p><font size=3 color="#444">2-)</font> <a href="{% url 'formlar' %}" class="text-dark" >fifavox.com/formlar</a> kısmından <a href="/form-cevapla/1/" class="text-dark">FIFAVOX RolePlay Başvuru Formunu</a> eksiksiz bir biçimde doldurun.</p> 
        
        <p><font size=3 color="#444">3-)</font> Bu iki işlemin ardından <a href="https://discord.gg/8yn76ANa9n" class="text-dark" target="_blank">https://discord.gg/8yn76ANa9n</a> adresinden FIFAVOX RolePlay Ön Kayıt Discord sunucusuna katılın.</p> 
        
        <p><font size=3 color="#444">4-)</font> 5 dakikanın ardından Hoşgeldin rolünüz Kayıt Bekleyen rolüyle değişecek.</p> 
        
        <p><font size=3 color="#444">5-)</font> Rolünüzü aldıktan sonra Kayıt Bekleme odalarından birine girip yetkililer ile internet sitesindeki bilgileri teyit edin.</p> 
        
        <p><font size=3 color="#444">6-)</font> Ek olarak birkaç soru daha sorulduktan sonra yetkili onay durumunuza karar verecek.</p> 
        
        <p><font size=3 color="#444">7-)</font> Onaylandıktan sonra yetkili tarafından size ana Discord sunucusunun linki verilecek.</p> 
        
        <p><font size=3 color="#444">8-)</font> Son olarak <a href="{% url 'anasayfa' %}" class="text-dark" >fifavox.com</a> web sitesinde onayınızı alacaksınız.</p> 
        
        <p><font size=3 color="#444">9-)</font> Onay durumunuzu kontrol etmek için  <a href="{% url 'anasayfa' %}" class="text-dark" >fifavox.com</a> sitesinde hesabınıza giriş yaptıktan sonra sol üst tarafta bulunan maymun simgesine basın.</p> 
        
        <p><font size=3 color="#444">10-)</font> Onaylandınız yazısını görüyorsanız tebrikler artık FIFAVOX RolePlay sunucusunun onaylı bir oyuncususunuz.</p> 
        
        <p class="pb-4">Keyifli Roller...</p>
        </div>
    </main>

 {% endblock content %}

 {% block script %}
    <script>
        $(".bilgiler").addClass("active-color");
        $(".bilgiler-icon").addClass("active-color");
    </script>
 {% endblock script %}