 {% extends 'base/ana.html' %} {% load static %} 
 {% block title %}RP Terimleri | FIFAVOX{% endblock %}
 {% block content %}

    <main class="col-11 col-lg-10 offset-1">
        
        <br>
        <h4 class="text-center mt-4 mb-5">Roleplay Terimleri</h4>
        <div class="col-10 offset-1">
            <p><b>Bunny Hopping</b> : Sürekli zıplayarak ilerlemek.</p>
            <p><b>Retarted Roleplay</b> : Yaptığınız rollerin bir nedeni, sebebi olmadan rol yapmak.</p>
            <p><b>Smileys IC</b> : Oyun içi /me, /do komutlarında yazılı rol yaparken xd, hahaha, tm, 
                mrb gibi kısaltma kullanımı. (Yasak)</p>
            <p><b> Guns Out Of Ass (GOOA)</b> : Olağan dışı yerlerden olağan dışı silahlar çıkarmak. (Örnek: Cebinden uzun namlulu silah çıkarma.)</p>
            <p><b>Bug Abuse</b> : Server içerisinde bulunan hataları, bugları kullanmak.</p>
            <p><b>NON-RP</b> : Roleplay yapmamak.</p>
            <p><b>Revenge Kill (RK)</b> : Eğer biri sizi öldürdüyse, yeni bir karakter açıp ondan intikam alamazsınız.</p>
            <p><b>Car Surfing</b> : Araçların üzerinde seyahat etmek.</p>
            <p><b>Car Ramming</b> : Araçla sebepsiz yere insanlara ve araçlara çarpmak.</p>
            <p><b>Ninja Jacking (NJ)</b> : Rolsüz olarak araç çalmak.</p>
            <p><b>Refuse Roleplay</b> : Rol yapmayı reddetmek.</p>
            <p><b>Chicken Running</b>: Çatışma esnasında mermilerden kaçmak için sağ sola koşmak.</p>
            <p><b>CK</b> : Karakterinizin ölmesi.</p>
            <p><b>PK</b> : Karakterinizin kısa süreliğine hafıza kaybı yaşaması.</p>
            <p><b>In Character (IC)</b> : Karakter içi anlamına geliyor. Gerçek dünya ile bir alakanız olmaması gerekiyor. Örneğin gerçekte bir kişiyle arkadaşsanız ve rol esnasında onunla tanışmadıysanız, yolda birbirinizle denk geldiğinizde ismiyle seslenmemelisiniz. Bu ayrıca Metagame hatasına giriyor.</p>
            <p><b>Out Of Character (OOC)</b> : Karakter dışı olayları kapsar. (Gerçek hayat)</p>
            <p><b>Random DeathMatch (RDM)</b> : Sebepsiz, rolsüz bir şekilde adam öldürmek.</p>
            <p><b>Vehicle DeatchMatch (VDM)</b> : Sebepsiz, rolsüz bir şekilde araçla adam ezmek.</p>
            <p><b>MetaGame (MG)</b> : Rol dışında öğrendiğimiz bilgileri role dahil edip rolün gidişatını bozmak.</p>
            <p><b>PowerGame (PG)</b> : Gerçek hayatta yapamadığımız eylemleri oyun içerisinde yapmak.</p>
            <p><b>Mixing IC-OOC</b> : Roleplay’de In Character ve Out Of Character bölümleri var.  IC bölümü, oyun içerisindeki karakterinizin rolü. OOC ise kendi kişiliğiniz oluyor. Eğer rol esnasında IC ve OOC’yi karıştırırsanız kural ihlali yaparsınız. Oyun içerisinde bulunan karakterinizde olmayan bir özelliği kendinizden eklerseniz kural ihlali yaparsınız.</p>
            <p><b>Random Shooting ( RS )</b> : Rastgele havaya veya başka bir yere sebepsiz sıkmaktır.</p>
            <p><b>No Value of Life ( NVL )</b> : Karakterinize değer vermeyen, canını yok sayan hareketlerde bulunmanız demektir. Bir adam kafanıza silah dayadığında dediklerini harfiyen yerine getirmeniz gereklidir. Oyun mekaniği nasıl olsa diyerek yüksek bir yerden atlayamaz, en fazla e çeker eşyalarımı kaybederim düşüncesi içerisinde rol yapamazsınız. O an ölüm ile burun buruna olurmuşcasına rol yapmanız gereklidir.</p>
            <p><b>Fear RP</b> : Korku rolüne girme durumudur. Örneğin; Etrafınızı saran 5 silahlı adama atar içerici konuşma yapamazsınız. (Fear RP bazı karakter hikayelerine göre esnetilebilir, fakat köklü bir hikaye yazmanız gerekmektedir.)</p>
            <p><b>Combat-Log</b> : Aktif bir rolde oyundan çıkış yapmak.</p>
    </div>
    </main>
    
 {% endblock content %}

 {% block script %}
    <script>
        $(".bilgiler").addClass("active-color");
        $(".bilgiler-icon").addClass("active-color");
    </script>
 {% endblock script %}