{% extends 'base/ana.html' %} {% load static %} {% block title %}Şifre Unuttum • FIFAVOX{% endblock %} {% block content%}
<div class="container my-5">
  <div class="bg-light shadow-lg rounded-3 p-4">
  <form method="POST">
    {% csrf_token %}
    <div>
      <h3 class="text-center pb-5 pt-5">
        Şifreni mi unuttun? Emailini aşağıya gir ve sana şifre değiştirmek için
        bir link sayfası atalım.
      </h3>
      <div>
        <h5 class="text-center pb-3">Email*</h5>
        {{form.email}}
      </div>
      <div class="text-center">
        <input type="submit" class="btn btn-dark mt-4" />
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock content %}
{% block script %}
<script defer>
  let email = document.getElementById("id_email");
  email.classList.add("form-control");
  email.classList.add("col-10");
  email.classList.add("col-md-6");
</script>
{% endblock %}

