{% extends 'base/ana.html' %} {% load static %} {% block title %}Şifre
Değiştirme | BMM{% endblock %} {% block content%}{% load crispy_forms_tags %}

<main class="col-11 offset-1">
  <div class="col-10 offset-1">
    <h4 class="pt-5 text-center">Yeni parolayı girin.</h4>
    <h5 class="text-center mt-3 mb-2 d-none d-md-block">
      Lütfen yeni parolanızı iki kere girin böylece böylece doğru olarak
      yazdığınızı doğrulayabilelim.
    </h5>
  </div>
  <form method="POST" class="col-10 col-md-6 offset-1 offset-md-3">
    {% csrf_token %}

    <label class="mt-4 center">Yeni Şifre</label>
    <ul class="list-unstyled d-grid col-10 center">
      <li>{{form.new_password1|as_crispy_field}}</li>
      <li style="position: relative; margin-left: 100%; margin-top: -40px">
        <span
          data-toggle="popover"
          title="Kurallar"
          class="profil-username"
          style="margin: 0"
        >
          <i class="fa-solid fa-info p-3 fa-sm" title="Kabul Edildin"></i>
        </span>
      </li>
    </ul>

    <label class="center mt-4">Yeni Şifre (Tekrar)</label>
    <ul class="list-unstyled d-grid col-10 center">
      <li class="mb-3">{{form.new_password2|as_crispy_field}}</li>

      <li style="position: absolute; right: -38px">
        <span
          data-toggle="popover1"
          title="Kurallar"
          class="profil-username"
          data-html="true"
        >
          <i class="fa-solid fa-info p-3 fa-sm"></i>
        </span>
      </li>
    </ul>

    <br />
    <input type="submit" value="Şifreyi Değiştir" class="btn btn-dark center" />
  </form>
</main>

<script defer>
  let to_be_deleted = document.querySelector("small");
  to_be_deleted.remove();
  let tam = document.querySelectorAll(".requiredField");
  tam.forEach((i) => {
    i.remove();
  });

  var password1 = document.getElementById("id_new_password1");
  var password2 = document.getElementById("id_new_password2");
  password1.classList.add("form-control");
  password2.classList.add("form-control");

  $(document).ready(function () {
    $('[data-toggle="popover"').popover({
      content: `● Parolanız en az 8 karakter içermek zorundadır. <br /><br /> ● Parolanız yaygın olarak kullanılan bir parola olamaz. <br /><br /> ● Parolanız tamamıyla sayısal olamaz.`,
      animation: true,
      placement: "right",
      trigger: "hover",
      html: true,
    });
  });

  $(document).ready(function () {
    $('[data-toggle="popover1"').popover({
      content: `● Doğrulama için önceki gibi aynı parolayı girin.`,
      animation: true,
      placement: "right",
      trigger: "hover",
    });
  });
</script>

{% endblock content%}
