 {% extends 'base/ana.html' %}  {% load static %} 
 {% block content %}
 <title>{{kisi.oyun_ad_soyad}} | FIFAVOX</title>
  </head>
  <body>
        {% csrf_token %}
     <aside class="side-navbar col-1">
            <ul class="p-0 text-center">
                {% if user.is_authenticated %}
                <li><a href="{% url 'profil' request.user.id %}"><img src="{% static 'images/logo.png' %}" class="col-sm-7 col-md-4 col-9 "></a></li>
                {% else %}
                <li><img src="{% static 'images/logo.png' %}" class="col-sm-7 col-md-4 col-9 "></li>
                {% endif %}
                <li><a href="{% url 'anasayfa' %}"><i class=" fa-solid fa-house-user"></i><p class="d-none d-md-block">Anasayfa</p></a></li>
                <li><a href="{% url 'kisiler' %}"><i class=" fa-solid fa-headset"></i><p class="d-none d-md-block">Oyuncular</p></a></li>
                <li>
                    <a href="{% url 'nasil-katilabilirim' %}">
                        <i class=" fa-solid fa-question"></i>
                        <p class="d-none d-md-block">Nasıl Katılabilirim</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'haberler' %}">
                        <i class="fa-solid fa-newspaper"></i>
                        <p class="d-none d-md-block">Haberler</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'formlar' %}">
                        <i class=" fa-solid fa-square-poll-vertical"></i>
                        <p class="d-none d-md-block">Anketler</p>
                    </a>
                </li>{% if user.is_superuser and user.is_authenticated %}
                <li>
                    <a href="{% url 'kayit-onay' %}">
                        <i class="fa-solid fa-circle-check"></i>
                        <p class="d-none d-md-block">Kayıt Onay</p>
                    </a>
                </li>{% endif %} {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'ayarlar' %}">
                        <i class="fa-solid fa-gear"></i>
                        <p class="d-none d-md-block">Ayarlar</p>
                    </a>
                </li>

                {% endif %}
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'cikis-yap' %}">
                        <i class=" fa-solid fa-arrow-right-from-bracket"></i>
                        <p class="d-none d-md-block"> Çıkış Yap</p>
                    </a>
                    {% else %}
                    <a href="{% url 'giris-yap' %}">
                        <i class=" fa-solid fa-right-to-bracket"></i>
                        <p class="d-none d-md-block">Giriş Yap</p>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </aside>    <main class="col-8 offset-2">
      <p>Ad Soyad : {{kisi.oyun_ad_soyad}}</p>
    
      <p>Meslek : {{kisi.meslek}}</p>
    </main>
    
    <aside class="haberler col-1 offset-11 d-none d-lg-block">
            <ul>
                <p class="text-center h5">Haberler</p>
                <hr> {% for haber in haberler %}
                <li>

                    <table>
                        <tr>
                            <td>
                                <a href="{% url 'haber-detay' haber.id %}"><img src="{{haber.resim.url}}" title="{{haber.baslik}}" alt="haber"></a>
                            </td>
                        </tr>
                    </table>
                </li>
                {% endfor %}
            </ul>
        </aside>
    
  </body>
</html>
{% endblock content %}
 
