{% extends 'base/ana.html' %} {% load static %} {% block title %} Oyuncu Ekle |
FIFAVOX{% endblock %} {% load crispy_forms_tags %} {% block content %}

<main class="col-11 col-lg-10 offset-1">
  {% for message in messages %}
  <div class="message col-8 col-sm-6 col-md-4 text-center">{{message}}</div>
  {% endfor %}
  <h4 class="text-center pt-4 pb-5">Oyuncu Ekle</h4>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <h5 class="text-center mt-2">Ad Soyad</h5>
    <div class="col-6 center mb-5">
      <div class="row">
        <div class="col m-0 p-0">{{form.oyun_ad_soyad|as_crispy_field}}</div>
        <div class="col-auto">
          <span
            data-toggle="popover"
            title="Kurallar"
            class="profil-username"
            data-html="true"
            class="m-0 p-0"
          >
            <i class="fa-solid fa-info p-3 fa-sm"></i>
          </span>
        </div>
      </div>
    </div>
    <h5 class="text-center mt-5">Meslek</h5>
    <div class="col-6 center mb-5">
      <div class="row">
        <div class="col m-0 p-0">{{form.meslek|as_crispy_field}}</div>
        <div class="col-auto">
          <span
            data-toggle="popover1"
            title="Kurallar"
            class="profil-username"
            data-html="true"
            class="m-0 p-0"
          >
            <i class="fa-solid fa-info p-3 fa-sm"></i>
          </span>
        </div>
      </div>
    </div>

    <h5 class="text-center mt-5">Dosya</h5>
    <div class="col-6 center mb-5">
      <div class="row">
        <div class="col m-0 p-0">{{form.dosya|as_crispy_field}}</div>
        <div class="col-auto">
          <span
            data-toggle="popover2"
            title="Kurallar"
            class="profil-username"
            data-html="true"
            class="m-0 p-0"
          >
            <i class="fa-solid fa-info p-3 fa-sm"></i>
          </span>
        </div>
      </div>
    </div>

    <h5 class="text-center mt-5">Hikaye</h5>
    <div class="col-6 center mb-5">
      <div class="row">
        <div class="col m-0 p-0">{{form.hikaye|as_crispy_field}}</div>
        <div class="col-auto">
          <span
            data-toggle="popover3"
            title="Kurallar"
            class="profil-username"
            data-html="true"
            class="m-0 p-0"
          >
            <i class="fa-solid fa-info p-3 fa-sm"></i>
          </span>
        </div>
      </div>
    </div>
    <input type="submit" value="Oyuncu Ekle" class="center btn btn-dark my-5" />
  </form>
</main>

{% endblock content %} {% block script %}
<script defer>
  $(".requiredField").hide();
  $("label").prop("for", "id_dosya").hide();
  let dosya = document.querySelector("#id_dosya");
  dosya.classList.add("form-control");
  $(document).ready(function () {
    $('[data-toggle="popover"').popover({
      content: `● Maksimum uzunluk 25 karakterdir.`,
      animation: true,
      trigger: "hover",
      placement: "right",
    });
  });
  $(document).ready(function () {
    $('[data-toggle="popover1"').popover({
      content: `● Maksimum uzunluk 40 karakterdir.`,
      animation: true,
      trigger: "hover",
      placement: "right",
    });
  });
  $(document).ready(function () {
    $('[data-toggle="popover2"').popover({
      content: `● Kabul edilen dosya türleri jpg ve png dir.`,
      animation: true,
      trigger: "hover",
      placement: "right",
    });
  });
  $(document).ready(function () {
    $('[data-toggle="popover3"').popover({
      content: `● Maksimum uzunluk 20000 karakterdir.`,
      animation: true,
      trigger: "hover",
      placement: "right",
    });
  });
</script>
{% endblock %}
