 {% extends 'base/ana.html' %} {% load static %} {% block content %}
 <meta property="og:title" content="FIFAFOX | {{kisi.oyun_ad_soyad}}" />
<meta property="og:image" content="https://fifavox-s3-buckets-1.s3.amazonaws.com/images/meta_tags.png" />
<meta property="og:description" content="Fifavox'a katılın, dünyamızı keşfedin ve eğlenin." />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="FIFAFOX | {{kisi.oyun_ad_soyad}}" />
<meta property="twitter:image" content="https://fifavox-s3-buckets-1.s3.amazonaws.com/images/meta_tags.png" />
<meta property="twitter:description" content="Fifavox'a katılın, dünyamızı keşfedin ve eğlenin." />
{% block title %}{{kisi.oyun_ad_soyad}} | FIFAVOX{% endblock %}
</head>

<body><!--<div class="cursor"><div class="cursor-pointer"></div></div>-->
    {% csrf_token %}
    
    <main class="col-10 offset-1">
        {% for message in messages %}
            <div class="anasayfa">{{message}}</div>
            {% endfor %}
        <h4 class="text-center pt-5">Oyuncu Özeti</h4>
        <br>
        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-10 offset-1 col-lg-5 offset-lg-1">
                    {% if kisi.dosya %}
                    <h5><img class="col-8 offset-2 mt-5 kisi-detay-foto" src="{{kisi.dosya.url}}"></h5>
                    {% else %}
                    <h5><img class="col-8 offset-2 mt-5 kisi-detay-foto"  src="https://galeri7.uludagsozluk.com/254/tommy-vercetti_412774.jpg"></h5>
                    {% endif %}
                </div>
                <div class="col-10 offset-1 col-lg-4 offset-lg-1">
                    <br>
                    <h5 class="text-center mt-5"><i>Adı Soyadı</i></h5>
                    <h4 class="text-center">{{kisi.oyun_ad_soyad}}</h4>
                    <h5 class="text-center mt-5 pt-5"><i>Mesleği</i></h5>
                    <h4 class="text-center ">{{kisi.meslek}}</h4>
                    <h5 class="text-center mt-5 pt-5"><i>Kayıt Tarihi</i></h5>
                    <h5 class="text-center">{{kisi.olusturulma_tarihi}}</h5>
                </div>
            </div>
        </div>
        






    </main>


</body>

</html>
{% endblock content %}