* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #494949;
  overflow-x: hidden;
}

.side-navbar {
  overflow: hidden;
  position: fixed;
  background-color: #494949;
  width: clamp(60px, 5vw, 5%);
  min-width: 60px;
  height: 100vh;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.side-navbar:hover {
  width: 14vw;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.side-navbar:hover .side-navbar-hidden-title {
  -webkit-animation-name: sidenavbarhiddentitle;
          animation-name: sidenavbarhiddentitle;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  opacity: 1;
}

.side-navbar ul {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.side-navbar ul li {
  list-style: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.side-navbar ul li:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.side-navbar ul li a {
  font-size: 1.15em;
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-navbar ul li a .side-navbar-hidden-title {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0;
}

main {
  margin-left: 5vw;
}

main #visual {
  margin-left: 5vw;
  z-index: -1;
}

main .kisiler {
  background: url("./kisi-arkaplan.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 95vw;
}

main .kisiler h4,
main .kisiler h5 {
  color: white;
}

main .kisiler a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

main .kisiler .profil-foto {
  width: 15vw;
  min-width: 60px;
  height: 25vh;
  min-height: 90px;
}

@-webkit-keyframes sidenavbarhiddentitle {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
}

@keyframes sidenavbarhiddentitle {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1300px) {
  .side-navbar:hover .side-navbar-hidden-title {
    opacity: 0;
    -webkit-animation: none;
            animation: none;
  }
  .side-navbar ul {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .side-navbar ul li {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .side-navbar ul li:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .side-navbar ul li a:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .side-navbar ul li a:hover .side-navbar-hidden-title {
    opacity: 0;
  }
  main {
    margin-left: 5vw;
  }
  main .kisiler {
    width: 95vw;
    height: 50vh;
    background-color: #d4d0d0;
  }
  main .kisiler .profil-foto {
    width: 15vw;
    min-width: 60px;
    height: 25vh;
    min-height: 90px;
  }
}
/*# sourceMappingURL=style.css.map */