 {% extends 'base/ana.html' %}
 {% block content %}
 <title>Kişi Ekle | FIFAVA</title>
  </head>
  <body>
        {% csrf_token %}
    <aside class="side-navbar">
      <ul>
        <li><a href="{% url 'anasayfa' %}"><i class="fa-solid fa-house"></i><p class="side-navbar-hidden-title">Anasayfa</p></a></li>
        <li><a href="{% url 'kisiler' %}"><i class="fa-solid fa-person"></i><p class="side-navbar-hidden-title">Oyuncular</p></a></li>
        <li>
          <a href="">
          <i class="fa-solid fa-question"></i><p class="side-navbar-hidden-title">Nasıl Katılabilirim ?</p>
        </a>
        </li>
        <li>
        {% if user.is_authenticated %}
        <a href="{% url 'cikis-yap' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i><p class="side-navbar-hidden-title">Çıkış Yap</p></a>
        {% else %}
        <a href="{% url 'giris-yap' %}"><i class="fa-solid fa-arrow-right-to-bracket"></i><p class="side-navbar-hidden-title">Giriş Yap</p></a>
        {% endif %}
        </li>
        
      </ul>
    </aside>
    <main>
      <p>Ad Soyad : {{kisi.oyun_ad_soyad}}</p>
    
      <p>Meslek : {{kisi.meslek}}</p>
    </main>
    
    
    
  </body>
</html>
{% endblock content %}
 
