 {% extends 'base/ana.html' %} {% load static %} {% block content %}
<title>Kullanıcı Onay Anketi | FIFAVOX</title>
</head>

<body>
    <aside class="side-navbar col-1">
        <ul class="p-0 text-center">
            <li><img src="{% static 'images/logo.png' %}" class="col-sm-7 col-md-4 col-9 "></li>
            <li><a href="{% url 'anasayfa' %}"><i class=" fa-solid fa-house-user"></i><p class="d-none d-md-block">Anasayfa</p></a></li>
            <li><a href="{% url 'kisiler' %}"><i class=" fa-solid fa-headset"></i><p class="d-none d-md-block">Oyuncular</p></a></li>
            <li>
                <a href="{% url 'nasil-katilabilirim' %}">
                    <i class=" fa-solid fa-question"></i>
                    <p class="d-none d-md-block">Nasıl Katılabilirim</p>
                </a>
            </li>
            <li>
                <a href="{% url 'haberler' %}">
                    <i class="fa-solid fa-newspaper"></i>
                    <p class="d-none d-md-block">Haberler</p>
                </a>
            </li>
            <li>
                <a href="{% url 'formlar' %}">
                    <i class=" fa-solid fa-square-poll-vertical"></i>
                    <p class="d-none d-md-block">Anketler</p>
                </a>
            </li>{% if user.is_superuser and user.is_authenticated %}
            <li>
                <a href="{% url 'kayit-onay' %}">
                    <i class="fa-solid fa-circle-check"></i>
                    <p class="d-none d-md-block">Kayıt Onay</p>
                </a>
            </li>{% endif %} {% if user.is_authenticated %}
            <li>
                <a href="{% url 'ayarlar' %}">
                    <i class="fa-solid fa-gear"></i>
                    <p class="d-none d-md-block">Ayarlar</p>
                </a>
            </li>

            {% endif %}
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'cikis-yap' %}">
                    <i class=" fa-solid fa-arrow-right-from-bracket"></i>
                    <p class="d-none d-md-block"> Çıkış Yap</p>
                </a>
                {% else %}
                <a href="{% url 'giris-yap' %}">
                    <i class=" fa-solid fa-right-to-bracket"></i>
                    <p class="d-none d-md-block">Giriş Yap</p>
                </a>
                {% endif %}
            </li>
        </ul>
    </aside>
    <!-- <main class="col-11 col-lg-10 offset-1">
    <h4 class="text-center pt-4 pb-5">Kişi Ekle</h4>
    <label class="center">Form Girdi Sayısı <input type="number" class="input mx-1" max="10"> <button class="btn btn-outline-dark mx-1" onclick="olustur()">Oluştur</button></label> -->

    <main class="col-8 col-lg-6 offset-3">
        {% if cevap %}
        <div class="text-center">
            {{form.errors}}
            <h5 class="pt-5">Fifavox Kayıt Formu</h5>
            {% if sorular.soru1 %}
            <div class="pb-3 pt-5">{{ sorular.soru1 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru1_cevap}}</div>
            {% endif %} {% if sorular.soru2 %}
            <div class="pb-3 pt-5">{{ sorular.soru2 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru2_cevap}}</div>
            {% endif %} {% if sorular.soru3 %}
            <div class="pb-3 pt-5">{{ sorular.soru3 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru3_cevap}}</div>
            {% endif %} {% if sorular.soru4 %}
            <div class="pb-3 pt-5">{{ sorular.soru4 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru4_cevap}}</div>
            {% endif %} {% if sorular.soru5 %}
            <div class="pb-3 pt-5">{{ sorular.soru5 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru5_cevap}}</div>
            {% endif %} {% if sorular.soru6 %}
            <div class="pb-3 pt-5">{{ sorular.soru6 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru6_cevap}}</div>
            {% endif %} {% if sorular.soru7 %}
            <div class="pb-3 pt-5">{{ sorular.soru7 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru7_cevap}}</div>
            {% endif %} {% if sorular.soru8 %}
            <div class="pb-3 pt-5">{{ sorular.soru8 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru8_cevap}}</div>
            {% endif %} {% if sorular.soru9 %}
            <div class="pb-3 pt-5">{{ sorular.soru9 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru9_cevap}}</div>
            {% endif %} {% if sorular.soru10 %}
            <div class="pb-3 pt-5">{{ sorular.soru10 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru10_cevap}}</div>
            {% endif %} {% if sorular.soru11 %}
            <div class="pb-3 pt-5">{{ sorular.soru11 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru11_cevap}}</div>
            {% endif %} {% if sorular.soru12 %}
            <div class="pb-3 pt-5">{{ sorular.soru12 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru12_cevap}}</div>
            {% endif %} {% if sorular.soru13 %}
            <div class="pb-3 pt-5">{{ sorular.soru13 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru13_cevap}}</div>
            {% endif %} {% if sorular.soru14 %}
            <div class="pb-3 pt-5">{{ sorular.soru14 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru14_cevap}}</div>
            {% endif %} {% if sorular.soru15 %}
            <div class="pb-3 pt-5">{{ sorular.soru15 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru15_cevap}}</div>
            {% endif %} {% if sorular.soru16 %}
            <div class="pb-3 pt-5">{{ sorular.soru16 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru16_cevap}}</div>
            {% endif %} {% if sorular.soru17 %}
            <div class="pb-3 pt-5">{{ sorular.soru17 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru17_cevap}}</div>
            {% endif %} {% if sorular.soru18 %}
            <div class="pb-3 pt-5">{{ sorular.soru18 }}</div>
            <div class="col-4 offset-4 pb-2">{{cevap.soru18_cevap}}</div>
            {% endif %}
        </div>
        <div class="text-center mt-5">
            {% if sorular.onay1 %}
            <span class="pb-3 pt-5 mx-2">{{ sorular.onay1 }}</span>
            <span>
                {% if cevap.onay1_cevap %}
                <i class="fa-solid fa-check"></i>
                {% else %}
                <i class="fa-solid fa-xmark"></i>
                {% endif %}
            </span>{% endif %}
            <br>
            <br> {% if sorular.onay2 %}
            <span class="pb-3 pt-5 mx-2">{{ sorular.onay2 }}</span>
            <span>{% if cevap.onay2_cevap %}
                <i class="fa-solid fa-check"></i>
                {% else %}
                <i class="fa-solid fa-xmark"></i>
                {% endif %}</span>{% endif %}
            <br>
            <br> {% if sorular.onay3 %}
            <span class="pb-3 pt-5 mx-2">{{ sorular.onay3 }}</span>
            <span>{% if cevap.onay3_cevap %}
                <i class="fa-solid fa-check"></i>
                {% else %}
                <i class="fa-solid fa-xmark"></i>
                {% endif %}</span>{% endif %}
            <br>
            <br> {% if sorular.onay4 %}
            <span class="pb-3 pt-5 mx-2">{{ sorular.onay4 }}</span>
            <span>{% if cevap.onay4_cevap %}
                <i class="fa-solid fa-check"></i>
                {% else %}
                <i class="fa-solid fa-xmark"></i>
                {% endif %}</span> {% endif %}
        </div>
        <form method="post">
            {% csrf_token %}
            <h5 class="mt-5 text-center mb-5">{{form.onaydurum}}</h5>
            <input type="submit" class="btn btn-outline-dark center mb-5" value="Kaydet">
        </form>
        <!-- <div class="center">
            <a href="{% url 'kayit-kabul-et' cevap.kayitli.id %}" class="btn btn-outline-dark mt-5 mb-5 mx-3">Kabul Et</a>
            <a href="{% url 'kayit-beklet' cevap.kayitli.id %}" class="btn btn-outline-dark mt-5 mb-5 mx-3">Beklet</a>
            <a href="{% url 'kayit-reddet' cevap.kayitli.id %}" class="btn btn-outline-dark mt-5 mb-5 mx-3">Reddet</a>
        </div>  -->
        {% else %}
        <h4 class="text-center pt-5">Anketi Cevaplamamış...</h4>
        {% endif %}

    </main>


    </main>

    <aside class="haberler col-1 offset-11  d-none d-lg-block">
        <ul>
            <p class="text-center h5">Haberler</p>
            <hr> {% for haber in haberler %}
            <li>

                <table>
                    <tr>
                        <td>{{haber.baslik}}</td>
                        <td><img src="https://media.istockphoto.com/vectors/newspaper-cover-page-vector-id187925868?k=20&m=187925868&s=612x612&w=0&h=xn8eHpzq2KMomzY5YROMoKSZKxcYWNjGZOw25cUV28Y=" title="haber" alt="haber"></td>
                    </tr>
                </table>
            </li>
            {% endfor %}
        </ul>
    </aside>



    {% endblock content %}